
{% block content %}

<div style="width: 75%; float:left">
   <embed src="{{ url_for('static', filename='papers/black2018.pdf')}}#toolbar=0&navpanes=0&scrollbar=0&view=FitH" width=100% height=100% 
 type="application/pdf">
</div>

<div style="width: 24%; margin-top: 15px; float:right;">


<p>Adult mouse sensory neurons on microelectrode arrays exhibit increased spontaneous and stimulus-evoked activity in the presence of interleukin-6</p>
<p>DRG cultures exhibit stable spontaneous activity from 9 to 21 days in vitro</p>
<p>Activity is readily evoked by known chemical and physical agonists of sensory neuron activity such as capsaicin, bradykinin, PGE2, heat, and electrical field stimulation</p>
<p>Spontaneous and stimulus-evoked activity may be potentiated by incubation with the inflammatory cytokine interleukin-6 (IL-6)</p>
<p>Although embryonic tissue is readily amenable to in vitro cultured due to increased viability, there are significant disadvantages driven by widespread changes in gene expression that emerge later in development, including changes linked to the voltage-gated Na channel Nav1.8/1.9, mRNA associated axonal transport, vesicle trafficking, and axonal protein synthesis</p>
<p>Additionally, dissociated embryonic and neonatal cultures of DRG neurons show little or no apparent NGF-induced sensitization to capsaicin, unlike adult DRG in vivo and in vitro</p>
<p>Spontaneous action potentials (or spikes) emerged within 24 h of culture, reaching a peak mean spike rate at 9 days in vitro (DIV)<p></p>


</p><p>Additional analysis (eg. mean firing rate, synchrony index) was carried out using NeuroExplorer software (Nex Technologies) in combination with Axion’s AxIS Metric program</p>
<p>Electrical stimulation and recording was performed using Axion’s Stimulation Studio in combination with software solutions provided by AxIS 2.3</p>
<p>Briefly, 7-8 active electrodes in each well (n=42 electrodes) were selected and stimulated with a 100-Hz cathodic-leading biphasic square pulse train (x10 stimuli) with an amplitude of 1.2 V and pulse duration of 750 microsec/phase.</p>
<p>To determine whether the number of units stimulated were nociceptors, 10 nM, 100 nM, or 1 uM capsaicin treatment was performed after the electrical stimulation events</p>
<p>All data associated with electrical stimulations were visualized and analyzed in Axion’s Neural Metric Tool software</p>
<p>4-6 week old male CD-1 mice</p>
<p>144 microelectrode wells prepared from dissection from 24 mice</p>
<p>ICC indicated that ~95% of the cellular population by DIV 15 was nonneuronal and most likely a combination of fibroblasts, satellite glia, and Schwann cells</p>
<p>Of the neuronal population, ~88% were found to be either CGRP- or IB4-positive (nociceptive)</p>
<p>We have measured the cross-sectional area of neuronal cell types and found ~97% to be of the small or medium gauge, based on previous size-based characterizations of DRG cell subtypes</p>
<p>These data suggest that we have cultured a largely nociceptive neuronal population and indicate that we were able to culture with sufficient density and viability for long-term MEA recordings<p></p>


</p><p>The spontaneously active electrode yield increased from 2.1 to 26% between DIV 1 and 9, and the mean firing rate per well increased from 0.05 to 0.99</p>
<p>The observed mean firing rates were relatively low compared with those reported in studies of cortical and ventral horn motor neurons, but not embryonic DRG cultures, and were significantly skewed toward lower firing rates</p>
<p>Single biphasic pulses were found to be ineffective at eliciting activity within the range of amplitude/duration parameters available through the Axion Maestro system</p>
<p>However, we observed differential responsiveness (both activation and inhibition) on a large subset of stimulated microelectrodes (83.3%) in response to pulse trains of 10 cathodic-leading biphasic square pulses (1.2 V, 750-us phase duration) at or above 100 Hz. </p>
<p>Previous studies have reported little to no spontaneous activity from adult murine DRG neurons cultivated from uninjured animals for MEA or patch-clamp recordings without the addition of relatively high concentrations of nerve growth factor (NGF)</p>
<p>We have developed our adult DRG culture protocols specifically for MEA recording</p>
<p>Previously published protocols, which were developed for patch-clamp electrophysiology, called for the addition of mitotic inhibitors on seeding to limit the proliferation of nonneuronal support cells. Support cells, including satellite glial and Schwann cells, have been previously shown to promote long-term adhesion as well as increased intrinsic activity and functional connections in mixed cultures of both spinal motor neurons and retinal ganglion cells.</p>


</div>


{% endblock %}
