{% extends 'base.html' %}
{% block content %}

  <h3>Screening for Nerve Dieback Compounds in a DRG Explant 3D Hydrogel Culture</h3>

  <p>Fei San Lee, Alvaro Moreno Lozano, Rebecca Wachs (University of Nebraska-Lincoln)</p>

  <p>Neurons extend nerve fibers called axons to transmit information to other cells. Things that tell the axons how and where to grow to are called neurotrophins, such as nerve growth factor (NGF) and brain-derived neurotrophic factor (BDNF).</p>

  <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0960982213004910-fx1.jpg">

  <p>The reverse process, the inhibition of axon growth, is called nerve dieback. Certain inhibitory compounds can cause calcium influx into the cell and trigger disassembly of the axon skeleton, pushing the axon terminal back. This process is thought to be mediated by calcium-activated calpains and the ubiquitin-proteasome system.</p>

  <img src="https://ars.els-cdn.com/content/image/1-s2.0-S0304394016308412-gr2.jpg">
  <p>One compound that has been shown to cause nerve dieback is capsaicin. Capsaicin is what makes food spicy and causes a heat sensation. It does this by activating an ion channel called TRPV1, a nonselective ion channel, which means it allows any ions to pass through. It is hypothesized that it causes nerve dieback by causing a large influx of calcium, which induces cytotoxicity. Lysophosphatidic acid (LPA) is a lipid molecule that also causes neurite retraction.</p>
  <p>In this experiment, the dorsal root ganglion (DRG) was grown in a 3D hydrogel culture made of hyaluronic acid, a substance prevalent in the intervertebral disc extracellular matrix which does not affect nerve growth. Methacrylic anhydride groups were added to the hyaluronic molecules to permit UV-initiated polymerization. The DRG was embedded in the hydrogels, cross-linked, exposed to UV, and maintained in culture media.</p>
  <p>Capsaicin (3.79 mM in 0.055% ethanol) was added to the culture. Separately, LPA (100 uM in 0.2% BSA) was added to the culture. Ethanol and BSA were used as controls, respectively. Neurite outgrowths were traced and measured.</p>
  <img src="{{url_for('static',filename='img/DRG_hydrogel.png')}}" style="margin-left:-180px">
  <p>Capsaicin reduced neurite length over time but did not reach statistical significance. LPA showed a substantial decrease in neurite length by day 7 and retracted neurite morphology with bulbed ends. Neither test conditions were statistically significant compared to control.</p>

{% endblock %}
</html>