{% extends 'base.html' %}

{% block content %}


<style>
    p,
    button {
        font-size: 100%;
    }

    #integer1_remove {
        display: none;
    }

    iframe {
        display: block;
        margin: 0 auto;
    }
</style>

<h1>Statistics</h1>

<p>The topics in AP statistics for high school:</p>
<h4>Exploring one-variable data</h4>
<p>Variables, categorical variables, tables, graphs, quantitative variables, summary statistics, distributions, normal
    distribution</p>
<h4>Exploring two-variable data</h4>
<p>Relationships between variables, correlation, linaer regression, residuals, least squares regression, departures from
    linearity</p>
<h4>Collecting data</h4>
<p>Random sampling, experimental design, inference and experiments</p>
<h4>Probability</h4>
<p>Random and non-random patterns, simulation, mutually exclusive events, conditional probability, random variables,
    combining random variables, binomial distribution, geometric distribution</p>
<h4>Sampling distributions</h4>
<p>Normal distribution (revisited), central limit theorem, biased and unbiased point estimates, sampling distributions
    for sample proportions</p>
<h4>Proportions</h4>
<p>Confidence interval for a population proportion, p-values, two population proportions</p>
<h4>Inference for quantitative data: means</h4>
<p>confidence interval, population mean</p>
<h4>Inference for categorical data: chi-square</h4>
<p>chi-square goodness of fittest, expected counts in two-way tables, chi-square test for homogeneity or independence
</p>
<h4>Slopes</h4>
<p>confidence intervals for slope of a regression model</p>

{% endblock %}