{% extends 'base.html' %}

{% block content %}
<h4>Diagnosis of brain death</h4>
<p>Brain death requires presence of 3 conditions: persistent coma, absence of brainstem reflexes, and lack of ability to
    breathe independently (apnea). Coma is confirmed when a painful stimulus causes no eye opening, no verbal response,
    and no limb movementin a patient (APGAR score). Brainstem function is assessed by testing multiple reflexes,
    including pupil responsiveness to light and coughing or gagging with throat suctioning. If coma and basence of
    brainstem reflexes are confirmed, the final step is an apnea test - temporarily removing a patient from mechanical
    ventilation and observing for spontaneously breathing. If after 10 minutes no breathing is witnessed and blood CO2
    increases by 200mmHg, then patient meets criteria for brain death.</p>
{% endblock %}