{% extends 'base.html' %}

{% block content %}
<h1>Medicine</h1>
<h2>Basic life support</h2>
<p>Games to play: <a href="https://www.ara.com/zero-hour-americas-medic/" target="_blank">Zero Hour: America's Medic</a>
</p>
<h3>Bystander first aid</h3>
<p>Information sourced from <a href="https://www.youtube.com/watch?v=4G67yN-7L2Y" target="_blank">Heart2Heart
        CPR's
        First Response: The Complete Guide to First Aid</a>.</p>
<p>Everyone should know first aid. The video I watched discusses what aid you can provide in an emergency
    situation as a
    bystander with no medical experience. The content in this section is important no matter who you are. If you
    decide
    to work more closely with patients, then you will want to gain deeper exposure into more advanced life
    support. You
    have 4 to 6 minutes after breathing has stopped before brain damage. 10+
    minutes means death.</p>
<p>If someone suddenly collapses, what do you do? If they are unconscious, breathing inadequately, not
    breathing, or
    gasping for air, activate the emergency medical system immediately, retrieve the nearest AED.</p>
<p>First stimulate the patient, applying physical pain. If no response, then check pulse. If no pulse, begin CPR at a
    rate of 30 compressions to 2 rescue breaths.</p>
<img src="{{ url_for('static', filename='img/medicine/bystander.png') }}" width="30%">
<h4>AED</h4>
<p>An automated external defibrillator (AED) is a portable electronic device that automatically diagnoses
    life-threatening cardiac arrhythmias of ventricular fibrillation and pulseless ventricular tachycardia and
    is able
    to treat them through defibrillation, the application of electricity which stops the arrythmia, allowing the
    heart
    to re-establish an effective rhythm.</p>
<img src="https://res.cloudinary.com/dhttas9u5/image/upload/c_fill,fl_progressive,h_800,q_auto,w_1600/fnnwqhfrpfnttzyouibf.webp"
    width="50%">
<p>In order to use an AED, first check the scene and tell a bystander to call 911. Turn the AED on and follow
    the voice prompts. Remove clothing and attach pads correctly (remove all clothing covering the chest and
    wipe the chest dry if necessary). Place one pad on the upper right of the chest and place the other pad on
    the lower left side of the chest, a few inches below the left armpit. If the pads may touch, place one pad
    in the middle of the chest and the other pad on the back between the shoulder plades. Plug the pad connector
    cable into the AED if necessary. Stop people from touching the patient and let the AED analyze the heart's
    rhythm. If shock is advised by the AED, shout "Clear" to inform people to not touch the person, and then hit
    the Shock button. After the AED delivers the shock or if no shock is davised, immediately restart CPR.</p>
<h4>Diagnosis of brain death</h4>
<p>Brain death requires presence of 3 conditions: persistent coma, absence of brainstem reflexes, and lack of
    ability to
    breathe independently (apnea). Coma is confirmed when a painful stimulus causes no eye opening, no verbal
    response,
    and no limb movementin a patient (APGAR score). Brainstem function is assessed by testing multiple reflexes,
    including pupil responsiveness to light and coughing or gagging with throat suctioning. If coma and basence
    of
    brainstem reflexes are confirmed, the final step is an apnea test - temporarily removing a patient from
    mechanical
    ventilation and observing for spontaneously breathing. If after 10 minutes no breathing is witnessed and
    blood
    CO2
    increases by 200mmHg, then patient meets criteria for brain death.</p>
<h2>Anatomy</h2>
<h2>Biochemistry</h2>
<h2>Embryology</h2>
<h2>Immunology</h2>
<h2>Microbiology</h2>
<h2>Pathology</h2>
<h2>Pharmacology</h2>
<h2>Reproductive</h2>
<h2>Cardiovascular</h2>
<h2>Endocrine</h2>
<h2>Gastrointestinal</h2>
<h2>Hematology</h2>
<h2>Neurology</h2>
<h2>Oncology</h2>
<h2>Renal</h2>
<h2>Respiratory</h2>
<h2>Dermatology</h2>
<h2>Musculoskeletal</h2>
<h2>Psychiatry</h2>
{% endblock %}