{% extends 'base.html' %}

{% block content %}
<style>
  p,
  button {
    font-size: 100%;
  }

  #integer1_remove {
    display: none;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }

  .sidebar {
    position: fixed;
    margin-left: -375px;
    border-left: 8px solid #c8dce3;
    background-color: #fff;
    overflow-y: scroll;
  }

  .sidebar {
    width: 350px;
    height: 85vh;
  }

  .core {
    padding: 7px;
    width: 100%;
    background-color: beige;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .core:first-child {
    margin-top: 0px;
  }

  .topic {
    padding-left: 15px;
  }

  .topic a {
    color: #333333;
  }

  .topic a:hover {
    text-decoration: underline;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
  }

  .sidebar::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
  }

  .sidebar::-webkit-scrollbar-track {
    background: beige;
    /* color of the tracking area */
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #c8dce3;
    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
    border: 3px solid #c8dce3;
    /* creates padding around scroll thumb */
  }
</style>

<div class="sidebar">
  <div class="core">Chemical basis of life</div>
  <div class="topic"><a href="#logic">Atoms and molecules</a></div>
  <div class="topic"><a href="#language">Water</a></div>
  <div class="topic"><a href="#reasoning">Organic compounds</a></div>
  <div class="topic"><a href="#sets">Macromolecules</a></div>
  <div class="core">Cells</div>
  <div class="topic"><a href="#concept">Cell structure</a></div>
  <div class="topic"><a href="#natural">Metabolism</a></div>
  <div class="topic"><a href="#integer">Cellular respiration</a></div>
  <div class="topic"><a href="#real">Photosynthesis</a></div>
  <div class="topic"><a href="#number">Cell cycle</a></div>
  <div class="core">Genetics</div>
  <div class="topic"><a href="#concept">Inheritance</a></div>
  <div class="topic"><a href="#natural">DNA</a></div>
  <div class="topic"><a href="#integer">Gene expression</a></div>
  <div class="topic"><a href="#real">Gene regulation</a></div>
  <div class="topic"><a href="#number">Genomes</a></div>
  <div class="topic"><a href="#number">Genes, development, and evolution</a></div>
  <div class="core">Evolution</div>
  <div class="topic"><a href="#concept">Evolutionary processes</a></div>
  <div class="topic"><a href="#natural">Speciation</a></div>
  <div class="topic"><a href="#integer">Phylogeny</a></div>
  <div class="topic"><a href="#real">History of life</a></div>
  <div class="core">Diversity</div>
  <div class="topic"><a href="#concept">Bacteria and Archaea</a></div>
  <div class="topic"><a href="#natural">Protists</a></div>
  <div class="topic"><a href="#integer">Plant diversity</a></div>
  <div class="topic"><a href="#real">Fungi</a></div>
  <div class="topic"><a href="#number">Animal diversity</a></div>
  <div class="topic"><a href="#number">Viruses</a></div>
  <div class="core">Ecology</div>
  <div class="topic"><a href="#concept">Ecosystems</a></div>
  <div class="topic"><a href="#natural">Populations</a></div>
  <div class="topic"><a href="#integer">Communities</a></div>
  <div class="topic"><a href="#real">Biosphere</a></div>
  <div class="topic"><a href="#number">Conservation</a></div>
  <div class="core">Plant form and function</div>
  <div class="topic"><a href="#concept">Plant body</a></div>
  <div class="topic"><a href="#natural">Plant nutrition and transport</a></div>
  <div class="topic"><a href="#integer">Plant development</a></div>
  <div class="topic"><a href="#real">Plant reproduction</a></div>
  <div class="topic"><a href="#number">Plant responses</a></div>
  <div class="core">Animal form and function</div>
  <div class="topic"><a href="#concept">Water and salt balance</a></div>
  <div class="topic"><a href="#natural">Nutrition and digestion</a></div>
  <div class="topic"><a href="#integer">Breathing</a></div>
  <div class="topic"><a href="#real">Circulation</a></div>
  <div class="topic"><a href="#number">Muscle and movement</a></div>
  <div class="topic"><a href="#number">Nervous system</a></div>
  <div class="topic"><a href="#concept">Integumentary system</a></div>
  <div class="topic"><a href="#natural">Hormonal control</a></div>
  <div class="topic"><a href="#integer">Animal reproduction</a></div>
  <div class="topic"><a href="#real">Animal development</a></div>
  <div class="topic"><a href="#number">Immune system</a></div>
  <div class="topic"><a href="#number">Animal behavior</a></div>
  <div class="core">Biotechnology</div>
</div>
<div class="size">

  Currently taking notes on biology on Overleaf.
  https://www.overleaf.com/read/ndgbnphvhfnr

  <h1>Biology</h1>
  <p>The funny thing about biology is that in the current educational system, it is seen as a relatively easy science to
    learn, but in the academic or industry setting, it is recognized as the most difficult science to learn. That is
    because biology is too complex to quantify, so there is a huge gap between it and the other sciences (see <a
      href="https://people.physics.anu.edu.au/~tas110/Teaching/Lectures/L1/Material/WEAVER1947.pdf">this paper about
      science and complexity</a>).</p>
  <h4>Knockout Mice</h4>
  https://www.youtube.com/watch?v=V70Uoi672-c&ab_channel=Cyagen
  <p>In 1981, Sir Martin Evans figured out how to cultivate embryonic stem cells from mice. This led to Mario Capecchi
    and Oliver Smithies to breed specific genes inactivated, establishing the first knockout mouse model in 1989. This
    model starts from embryonic stem cells (ES or ESC) from C57BL/6 mouse. The blastocyst forms at day 4 of
    feritilization, and consists of trophoblasts and inner cell mass (aka embryoblast). The embryoblast is extracted,
    and is plated and allowed to replicate. Neomycin-phosphotransferase vector is inserted to add resistance to
    antibiotics but only if the entire gene of interest is incorporated via homologous recombination. An electroporator
    is used to cause a high-voltage electric field which creates openings in the phospholipid bilayer which allows the
    vector to enter the cells. However, electroporation is very inefficient, so many cells fail to complete the process.
    In addition, homologous recombination is not very efficient either. Adding neomycin kills off all the cells that
    have failed to incorporate the neomycin phosphotransferase gene. However, 90% of the remaining cells have incomplete
    gene recombination, so PCR and Southern blot analysis is then used to determine the 10% of cells with the knockout.
    These final remaining stem cells are injected back into the blastocyst (from two white mice) via microinjection, and
    the blastocyst is injected into a surrogate mother. This blastocyst develops into chimeras, or founder mice (F0),
    because they now have some of their cells from the manipulated ESCs and some from its own stem cells. So they have
    black and white fur. These chimera (F0) are crossed with a wild-type white mouse, producing non-mosaic heterozygous
    progeny (black F1 mice). These F1 heterozygous (Hh) mice are bred with each other, and their recessive offspring (1
    out of 4) will be homozygous dominant for the knockout. These mice are identified with PCR.</p>
  <h4>Interleukin 18 (IL18)</h4>
  <p>An inflammatory cytokine is a type of signaling molecule (aka cytokine) that is secreted from immune cells like
    helper T cells and macrophages to promote inflammation. Other inflammatory cytokines include IL-1, IL-12, IL-18,
    TNF-alpha, interferon gamma, and GM-CSF.</p>
  <p>Interleukin-18 (IL18, also known as interferon-gamma inducing factor) is an inflammatory cytokine encoded by the
    IL18 gene in humans. It is produced mainly by macrophages and induces immune cells to produce IFNγ. Without IL-12 or
    IL-15, IL-18 does not produce IFNγ, but helps differentiate naive T cells into Th2 cells and stimulates mast cells
    and basophils.</p>
  <p>Clinically, IL-18 is able to induce severe inflammatory reactions, suggesting a role in chronic inflammation and
    autoimmune disorders. It is found to be upregulated in adenomyosis, Hashimoto's thyroiditis, Alzheimer's disease,
    neuroinflammatory response, and SLE.</p>
  <h4>BALB/c</h4>
  <p>BALB/c is an albino, immuondeficient laboratory-bred strain of house mouse. They are useful for cancer and
    immunology research. They are particularly well known for the production of plasmacytomas on injection with mineral
    oil, an important process for the production of monoclonal antibodies.</p>
  <h4>Aggrecan</h4>
  <p>Aggrecan (ACAN), also known as cartilage-specific proteoglycan core portni (CSPCP) or chondroitin sulfate
    proteoglycan 1, is a protein that is an integral part of the extracellular matrix in cartilagenous tissue and
    withstands compression. It is a proteoglycan, or a protein modified with large carbohydrates.</p>
  <h4>Collagen</h4>
  <p>Collagen is the main structural protein in the extracellular matrix in the body's various connective tissues,
    making up 25-35% of the whole-body protein content. Collagen consists of amino acids bound together to form a triple
    helix of elongated fibril known as a collagen helix. It is mostly found in connective tissue such as cartilage,
    bones, tendons, ligaments, and skin. Depending on the degree of mineralization, collagen may be rigid (bone) or
    compliant (tendon) or have a gradient from rigid to compliant (cartilage). Collagen is also abundant in corneas,
    blood vessels, the gut, intervertebral discs, and the dentin in teeth.</p>
  <h4>NF-κB</h4>
  <p>NF-κB, or NF-kappaB, or nuclear factor kappa-light-chain-enhancer of activated B cells, is a protein complex that
    controls transcription of DNA, cytokine production and cell survival. It is found in almost all animal cell types.
    It is activated by growth factors (BDNF, NGF). These ctivators converge upon the IKK complex and the canonical
    pathway.</p>
  <h4>H&E Stain</h4>
  <p>Hematoxylin and eosin stain, or HE stain, is the combination of hematoxylin, which stains cell nucleiw ith
    apurplish blue, and eosin, which stains ECM and cytoplasm pink, allowing for a pathologist to easily differentiate
    between the nuclear and cytoplasmic parts of a cell.</p>
  <h4>Saf-O</h4>
  <p>Safranin (aka Safranin O or basic red 2) is a biological stain which colors cell nuclei red. It is used as a
    conterstain, i.e. an additional dye used in a microscopy specimen to produce a contrasting background or to make
    clearer the distinction between different kinds of tissue.</p>
  <h4>Western Blot Analysis</h4>
  <p>The western blot (aka protein immunoblot) is an analytical technique in molecular biology used to detect specific
    proteins in a sample of tissue. It uses three elements to achieve the task of separating a specific protein from a
    complex: separation by size, transfer of protein to a solid support, and marking the target protein using a primary
    and secondary antibody to visualize.</p>
  <h4>Flow Cytometry</h4>
  <p>Flow cytometry is a technique used to detect and measure physical and chemical characteristics of a population of
    cells or particles. In this process, a sample containing cells or particles is suspended in a fluid and injected
    into a flow cytometer instrument. The sample is focused to ideally flow one cell at a time through a laser beam,
    where the light scattered is characteristic to the cells and their components. Cells are often labeled with
    fluorescent markers so light is absorbed and then emitted in a band of wavelengths. Flow cytometry is used in cell
    counting and cell sorting.</p>
  <h4>Cell Sorting</h4>
  <p>Cell sorting is the process of taking cells from an organism and separating them according to type. The cells are
    then lbaelled and tagged.</p>
  <h4>Bax</h4>
  <p>Apoptosis regulator BAX, also known as bcl-2-like protein 4, is a protein encoded by the BAX gene. it is a member
    of the Bcl-2 gene family. It is an apoptotic activator. It interacts and increases the opening of mitochondrial
    voltage-dependent anion channel (VDAC) leading to loss in membrane potential and release of cytochrome c. The
    expression of this gene is regulated by tumor supresor P53.</p>
  <h4>Bcl-2</h4>
  <p>Bcl-2 (B-cell lymphoma 2), encoded by the BCL2 gene, is the founding member of the Bcl-2 family of regular proteins
    that regulate cell death, by either inhibiting or inducing apoptosis.</p>
  <h4>Caspase</h4>
  <p>Caspases (cysteine-aspartic proteases) are a family of protease enzymes playing essential roles in programmed cell
    death. They have specific cysteine protease activity, A cysteine in its active site nucleophilically attacks and
    claves a target protein only after an aspartic acid residue. The role of tehse enzymes in programmed cell death was
    first identified in 1993.</p>
  <h4>GAPDH</h4>
  <p>Glyceraldehyde 3-phosphate dehydrogenase (GAPDH) is an enzyme that catalyes the sixth step of glycolysis and thus
    serves to break down glucose for energy and carbon molecules. It is also implicated in non-metabolic processes
    including transcription activation and initiation of apoptosis.</p>
  <h4>Toluidine blue</h4>
  <p>Toluidine blue, also known as TBO or tolonium chloride, is a blue cationic (basic) dye used to stain proteoglycans
    and glycosaminoglycans in tissues such as cartilage. The strongly acidic macromolecular carbohydrates of mast cells
    and cartilage are coloured red by the blue dye, a phenomenon called metachromasia.</p>
  <h4>Glycosaminoglycan</h4>
  <p>Glycosaminoglycans (GAGs) or mucopolysaccharides are long linear polysaccharides consisting of repeating
    disaccharide units (i.e. two-sugar units). Because GAGs are highly polar and attract water, they are used in the
    body as a lubricant or shock absorber.</p>
  <h4>Adenovirus</h4>
  <p>Adenovirus can infect a variety of mammalian cell types with high efficiency. They do not integrate into the host
    genome, so are only suitable for transient expression. It can be packaged at a relatively high titer but may result
    in a high immune response and can be toxic to sensitive cells like primary neurons.</p>
  <h4>Adeno-Associated Virus (AAV)</h4>
  <p>AAV integrates into the host cell genome at a very specific site in one human chromosome; random insertions are
    very rare, making it less immuongenic.</p>
  <h4>Retrovirus</h4>
  <p>Retrovirus (eg. MMLV) can introduce genetic material into the genome of the host cell, making it great for
    long-term stable expression, but cannot infect non-diving cells.</p>
  <h4>Lentivirus</h4>
  <p>Lentivirus (e.g. HIV-1, FIV, SIV) is a sub-class of retrovirus that can be use dfor both transient and stable gene
    express. It can infect both proliferating and non-proliferating cells and generates a low immune response in target
    cells.</h4>
    <h4>Transfection</h4>
    <p>Transfection is the processing of introducing nucleic acids into cells by non-viral methods.</p>
    <h4>Transduction</h4>
    <p>Transduction is the process whereby foreign DNA is introduced into another cell via a viral vector.</p>
    <h4>Lipid Transfection</h4>
    <p>Lipofection, also konwn as lipid transfection or liposome-based transfection, uses a lipid complex to deliver DNA
      to cells. Lipofection technology uses tiny vesicular structures called liposomes that have the same composition as
      the same membrane. The liposome is endocytosed or directly fuses with the cell membrane to release the DNA
      construct into cells.</p>
    <h4>Short hairpin RNA</h4>
    <p>Short hairpin RNA or small hairpin RNA (shRNA/Hairpin Vector) is an artificial RNA molecule with a tight hairpin
      turn that can be used to silence target gene expression via RNA interference (RNAi).</p>
</div>


Respiration is the production of energy with the intake of oxygen and the release of carbon dioxide. Complex substances
are oxidized in the process. Glycolysis is the first step of cellular respiration. This first step of respiration does
not require oxygen and is therefore anaerobic. Glycolysis takes place in both eukaryotes and prokaryotes. Glycolysis
begins with a single glucose molecule, which is a six carbon ring structure, and ends with two molecules of pyruvate,
which are each three-carbon sugars. Glycolysis uses up 2 ATP molecules but produces 4 ATP and 2 NADH, so there is a net
gain of 2 ATP and 2 NADH in terms of energy. Glycolysis occurs in the cytoplasm of both prokaryotes and eukaryotes.

Glycolysis: $\text{glucose}+ 2\ce{NAD+}+2\text{ATP}\rightarrow 2\text{pyruvate}+2\text{NADH}+4\text{ATP}$

The next step of cellular respiration is a transition reaction that forms acetyl CoA, but all we'll remember about this
step for now is that it makes acetylCoA.

What does it mean when glucose is oxidized? You can determine the oxidation state of any atom in a molecule from the
Lewis structure. This is done by drawing the Lewis structure, breaking all the bonds and giving electrons in the bond to
the more electronegative element, and comparing the number of electrons around each element to that element's number of
valence electrons. Oxidation states are always given in Roman numerals to distinguish them from formal charges. Formal
charge is the "temporary" charge of an atom in a Lewis structure. For example, if you break the bonds in $\ce{H2O}$, the
O takes on 8 electrons and the H has 0, so the O has an oxidation number of -2 and the H has an oxidation number of +1.
\begin{enumerate}
\item The oxidation state of an element is 0. $\ce{Xe}$, $\ce{Cl2}$, $\ce{O2}$, etc. all have an oxidation state of 0.
\item The sum of oxidation states of all the atoms in a neutral compound is zero.
\item The sum of oxidation states of all the atoms in an ion is equal to the charge of the ion.
\item Whichever element is most electronegative gets the negative oxidation state.
\item Group 1 metals are always +1. Group 2 metals are always +2. Oxygen is usually -2. Hydrogen is usually +1, unless
when acting in a metal hydride, where it is -1. Fluorine is always -1. Chlorine is usually -1.
\end{enumerate}

Now let's consider the combustion of sugar (aka respiration). Glucose reacts with oxygen to produce $\ce{CO2}$ and
water. The carbon atoms in glucose are oxidized. If you move the bonds in $\ce{CO2}$ to the electronegative atoms (which
is O), then the carbon is left with no electrons and therefore has an oxidation number of +4. At the same time, the
oxygen $\ce{O2}$ is reduced from 0 to -2 in water $\ce{H2O}$. This is what it means to oxidize glucose... the carbon
atoms are being oxidized.

Next is the dreaded \textbf{citric acid (Krebs)} cycle. The Krebs cycle completes the oxidation of glucose by taking the
pyruvates and breaks them down into $\ce{CO2}$, $\ce{H2O}$, and generating ATP by oxidative phosphorylation. In
prokaryotic cells, the citric acid cycle occurs in the cytoplasm, whereas it occurs in the matrix of the mitochondria in
eukaryotes. The overall reaction for the citric acid cycle is $2\text{acetyl
groups}+6\ce{NAD+}+2\text{FAD}+2\text{ADP}\rightarrow 4\ce{CO2}+6\text{NADH}+6\ce{H+}+2\ce{FADH2}+2\ce{ATP}$. Basically,
for high school biology you need to remember that the Krebs cycle extracts energy from acetyl CoA which is the product
of glycolysis, requires oxygen, and produces carbon dioxide and water and energy-carrying molecules ATP, NADH, and
$\ce{FADH2}$ and sends the NADH and $\ce{FADH2}$ to the ETC to convert to ATP.

Recall that the matrixis a double-membrane-bound organelle. It has an outer membrane and an inner membrane, between
which is an intermembrane space. Inside of the inner membrane is the matrix. The folds of the inner membrane are called
cristae, and they increase the surface area of the inner membrane. The DNA and ribosomes exist in the matrix.

The \textbf{electron transport chain} takes the electrons from NADH and $\ce{FADH2}$ and uses them to transport protons
from the matrix across the inner mitochondrial membrane to the intermembrane space. In prokaryotes, the protons are
transported from the cytoplasm across the cytoplasmic membrane to the periplasmic space between the cytoplasmic membrane
and the cell wall. The protons accumulate and create an electrochemical gradient or potential difference across the
membrane, creating a proton motive force. These protons are pushed through ATP synthases, which has a rotor which
converts the mechanical energy of the ions moving into chemical energy storing in the ATP molecule. The electrons are
eventually transferred from the electron carriers to oxygen, thereby reducing oxygen into the form of $\ce{H2O}$. In
total, cellular respiration can yield 36-38 ATP molecules.

What if you don't have oxygen? Well, then you can't use oxidative phosphorylation. And if the ETC doesn't work, it'll
stop the Krebs cycle from working. So you back up all the way to after glycolysis in substrate-level phosphorylation.
\textbf{Alcohol fermentation} is using pyruvate from glycolysis to make ethyl alcohol. \textbf{Lactic acid fermentation}
is reducing pyruvate (instead of oxidizing) to lactate. By reducing the molecule, you can reoxidize the NADH to
regenerate $\ce{NAD+}$ for use in glycolysis.

Proteins and lipids both feed into the cellular respiration pathway at some point, mostly during the citric acid cycle.
How that's done is learned in biochemistry.

Regulation of cellular respiration, such as which enzymes are key in eacah step (hexokinase, phosphofructokinase), is
left for biochemistry and MCAT preparation.

Let's talk about \textbf{photosynthesis}. It's kind of like the opposite of cellular respiration. It takes in $\ce{CO2}$
and water and releases oxygen and glyceraldehyde-3-phosphate (G3P), simple carbohydrates that can be turned into glucose
or other sugar molecules. Photosynthesis is made up of the light-dependent reactions and the light-independent
reactions. The overall equation for photosynthesis shows that it reduces carbon dioxide and water to produce oxygen:
$6\ce{CO2}+\ce{H2O}\rightarrow\ce{C6H12O6}+6\ce{CO2}$. When a photon of light strikes the atenna pigment of photosystem
II, the first light-dependent system, PSII captures photons and uses the energy absorbed to oxidize (split) water,
releasing oxygen to the atmosphere. At the same time, hydrogen ions are pumped across the membrane into the interior of
the thylakoid, which then produces ATP molecules used in the second stage of photosynthesis. PSI, the second photosystem
(I know it's a bit backwards in numbering), uses another photon of light to generate NADPH from $\ce{NADP+}$. Together,
the NADPH and ATP generated from the light-dependent reactions will power the light-indepent reactions, or the Calvin
cycle, which can occur in both day and night. In the Calvin cycle, an enzyme called RuBisCO catalyzes a reaction with
$\ce{CO2}$ and another molecule called ribulose biphosphate (RuBP). The carbon from carbon dioxide in the atmosphere is
"fixed" into carbohydrates, generating G3P.

A chloroplast has an outer membrane, an inner membrane, between which lies the intermembrane space. Inside of the inner
membrane is the stroma (equivalent to the mitochondrial matrix). Inside the stroma are stacks of thylakoids. These
stacks are called grana. The light-dependent reactions occur in the thylakoid membranes of chloroplasts. The Calvin
cycle (light-independent) reactions occur in the stroma of chloroplasts.

In a diploid cell, each gene has two alleles. In a population, if you count all the alleles, you can determine the
frequency of an allele. The Hardy-Weinberg principle of equilibrium is the idea that if there is no evolution occurring
in a population, then the allelic frequencies will remain the same. Sometimes allelic frequencies can change even
without natural selection, which is called genetic drift. The \textbf{Hardy-Weinberg equilibrium} states that a the
population's allele and genotype frequencies will be stable unless some kind of evolution is occurring, whether they be
mutations, migration, natural selection, or genetic drift. A mathematical model for allelic frequency is using the
variables $p$ and $q$. $p$ represents the frequency of a dominant allele, and $q$ represents the frequency of recessive
alleles. Alleles are just variants of one gene that can exist for any population. Since all alleles are either dominant
or recessive, $p+q=1$. In order to find the frequency of genotypes from allelic frequencies, you can use
$p^2+2pq+q^2=1$, where $p^2$ is the genotypic frequency for homozygous dominant, $q^2$ is the genotypic frequency for
homozygous recessives, and $2pq$ is the genotypic frequency for heterzygosity.

\section{Cell communication}
Autocrine signaling is the cell targeting itself. Gap junctions allow for signals passing from one cell directly to a
physically touching cell. Paracrine signaling is cells signaling to nearby cells. Endocrine signaling is a cell
signaling to far away cells, such as through the bloodstream. Receptors can be internal, which require the signaling
molecule to pass through the membrane, as well as on the surface of the cell. A cell-surface receptor must have an
external ligand-binding domain (ligand is the signaling molecule), a hydrophobic membrane-spanning region, and an
intracellular domain. G-protein-coupled receptors, or GPCRs, are one type of receptor. Ligands can range from small
proteins to small ions. Steroid hormones such as estradiol and testosterone can pass directly through the plasma
membrane as they are hydrophobic. Water-soluble ligands require receptors to help them pass through. Nitric oxide can
act as a ligand and can directly pass through the plasma membrane.

Once a ligand binds to a receptor, the signal is transmitted and continued in a process called signal transduction. This
only occurs with cell-surface receptors because internal receptors can interact directly with DNA. A signaling cascade
occurs and can be amplified. Common methods of intracellular signaling include \textbf{phosphorylation} via a kinase,
which can activate and deactivate enzymes. Second messengers are small molecules that can propagate a signal after it
has been initiated by surface binding. Calcium is commonly used as a second messenger. The free concentration of calcium
is very low because ion pumps in the plasma membrane continuously use ATP to remove it. $\ce{Ca^2+}$ is stored in
cytoplasmic vesicles, such as the endoplasmic reticulum, or accessed from outside the cell. When ligand-gated calcium
ion channels allow higher levels of calcium into the cytoplasm, it raises the concentration of cytoplasmia $\ce{Ca^2+}$.
Another second messenger is \textbf{cyclic AMP (cAMP)}. Cyclic AMP is synthesized by the enzyme \textbf{adenylyl
cyclase} from ATP. cAMP binds to and activates cAMP-dependent kinase (A-kinase). A-kinase then goes on to affect other
metabolic pathways. Inositol phospholipids are other second messengers. PI-phosphate (PIP) and PI-bisphosphonate
($\ce{PIP_2}$) interact to form diacylglycerol (DAG) and inositol triphosphate ($\ce{IP_3}$. DAG remains in the plasma
membrane and activates \textbf{protein kinase C (PKC)}, which then phosphorylates serine and threonine residues in its
target proteins. $\ce{IP_3}$ diffuses into the cytoplasm and binds to ligand-gated calcium channels in the ER to release
$\ce{Ca^2+}$ to continue the signal cascade.

\section{Fluid mosaic model}
The fluid mosaic model is about how the cell membrane is not stiff, it moves around. It's got phospholipids, embedded
proteins, carbohydrates. The structures are constantly moving and the proteins provide transport. Carbohydrates act as
cell-to-cell contact. It forms a semipermeable membrane where the phospholipids act as a barrier for polar molecules,
but the transporters act as passages for ions to move through the wall. Together, they form a semipermeable membrane.

\section{Symbiosis}
Mutualism is a relationship between organisms in which both organisms benefit. Commensalism, parasitms, amensalism.

\section{Sickle cell}
Sickle cell anemia is caused by a point-shift mutation Glu->Val causing red blood cells to sickle, preventing it from
carrying oxygen.

\section{Horizontal gene transfer}
Transduction is when a bacteriophage inserts its DNA into another cell. It uses the host's cells' replicative machinery
to form more bacteriophages. Part of the host cell's DNA can be accidentally be incorporated into the bacteriophage's
DNA, so when the cell lyses, the virus can carry that genetic variation to the environment.

\section{Hardy Weinberg}
photosynthesis cellular respiration
phylogeny and evolution
pedigrees
cell communication G-protein, amplified effect
cyclic AMP
meiosis

Biology is the study of life. Life is made up of different things. There are multiple domains prokarya, archaea,
eukarya. And then kingdoms. Eukaryotes are different from prokaryotes because they have a nucleus and so their ribosomes
are separated from the DNA. Multicellular organisms include humans, animals, plants. These organisms are made up of
individual cells. These cells work together to produce a full organism. Cells have organelles including a nucleus which
contains DNA, endoplasmic reticulum which has ribosomes attached, the smooth ER synthesizes lipids. Other organelles
include the Golgi apparatus which packages proteins, vacuoles which are sacs of water or other stuff, lysozomes,
mitochondria is where kreb's cycle. Electron transport chain occurs across the inner mitochondrial membrane.

cis trans golgi
{% endblock %}