{% extends 'base.html' %}

{% block content %}


<style>
	p,
	button {
		font-size: 100%;
	}

	#integer1_remove {
		display: none;
	}

	iframe {
		display: block;
		margin: 0 auto;
	}

	.sidebar {
		position: fixed;
		margin-left: -375px;
		border-left: 8px solid #c8dce3;
		background-color: #fff;
		overflow-y: scroll;
	}

	.sidebar {
		width: 350px;
		height: 85vh;
	}

	.core {
		padding: 7px;
		width: 100%;
		background-color: beige;
		font-size: larger;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.core:first-child {
		margin-top: 0px;
	}

	.topic {
		padding-left: 15px;
	}

	.topic a {
		color: #333333;
	}

	.topic a:hover {
		text-decoration: underline;
	}

	a.anchor {
		display: block;
		position: relative;
		top: -150px;
		visibility: hidden;
	}

	.sidebar::-webkit-scrollbar {
		width: 8px;
		/* width of the entire scrollbar */
	}

	.sidebar::-webkit-scrollbar-track {
		background: beige;
		/* color of the tracking area */
	}

	.sidebar::-webkit-scrollbar-thumb {
		background-color: #c8dce3;
		/* color of the scroll thumb */
		/* roundness of the scroll thumb */
		border: 3px solid #c8dce3;
		/* creates padding around scroll thumb */
	}
</style>

<div class="sidebar">
	<div class="core">Neurophysiology</div>
	<div class="topic"><a href="#descriptive_geometry">Brain mapping</a></div>
	<div class="topic"><a href="#descriptive_geometry">Electrophysiology</a></div>
	<div class="topic"><a href="#descriptive_geometry">Extracellular recording</a></div>
	<div class="topic"><a href="#descriptive_geometry">Intracellular recording</a></div>
	<div class="topic"><a href="#descriptive_geometry">Brain stimulation</a></div>
	<div class="topic"><a href="#descriptive_geometry">Electroencephalography</a></div>
	<div class="topic"><a href="#descriptive_geometry">Neuroendocrinology</a></div>
	<div class="core">Neuroanatomy</div>
	<div class="topic"><a href="#sets">Cranial nerves and Circle of Willis</a></div>
	<div class="topic"><a href="#sets">Cerebral hemispheres</a></div>
	<div class="topic"><a href="#sets">Coronal sections and the ventricular system</a></div>
	<div class="topic"><a href="#sets">General anatomy of nervous tissue, the spinal cord and the brain stem</a></div>
	<div class="topic"><a href="#sets">Somatic sensation</a></div>
	<div class="topic"><a href="#sets">Somatic and visceral sensory systems of the head</a></div>
	<div class="topic"><a href="#sets">Visual system</a></div>
	<div class="topic"><a href="#sets">Vestibular system</a></div>
	<div class="topic"><a href="#sets">Auditory system</a></div>
	<div class="topic"><a href="#sets">Lower and upper motor neurons and the internal capsule</a></div>
	<div class="topic"><a href="#sets">Cerebellum</a></div>
	<div class="topic"><a href="#sets">Basal ganglia</a></div>
	<div class="topic"><a href="#sets">Hypothalamus</a></div>
	<div class="topic"><a href="#sets">Olfaction and limbic system</a></div>
	<div class="core">Neuropharmacology</div>
	<div class="topic"><a href="#sets">Neurotransmitter and receptor systems</a></div>
	<div class="topic"><a href="#sets">Brain disorders and drugs</a></div>
	<div class="topic"><a href="#sets">Analgesics, anaesthetics</a></div>
	<div class="topic"><a href="#sets">Neurodevelopment and neuroimmunology</a></div>
	<div class="core">Behavioral neuroscience</div>
	<div class="topic"><a href="#sets">Motor system</a></div>
	<div class="topic"><a href="#sets">Sleep and waking</a></div>
	<div class="topic"><a href="#sets">Habituation, novelty responses</a></div>
	<div class="topic"><a href="#sets">Visual system</a></div>
	<div class="topic"><a href="#sets">Auditory system</a></div>
	<div class="topic"><a href="#sets">Pain and central gray area</a></div>
	<div class="topic"><a href="#sets">Hypothalamus and feeding</a></div>
	<div class="topic"><a href="#sets">Drive, reward, agnostic behavior</a></div>
	<div class="topic"><a href="#sets">Higher functions, human nature</a></div>
	<div class="core">Developmental neuroscience</div>
	<div class="topic"><a href="#sets">Regulation of gene expression</a></div>
	<div class="topic"><a href="#sets">Transport and cell signaling</a></div>
	<div class="topic"><a href="#sets">Development of the Drosophila body plan</a></div>
	<div class="topic"><a href="#sets">Patterning the vertebrate body plan: axes and germ layers</a></div>
	<div class="topic"><a href="#sets">Patterning the vertebrate body plan: the mesoderm and early nervous system</a>
	</div>
	<div class="topic"><a href="#sets">Induction and patterning of the nervous system</a></div>
	<div class="topic"><a href="#sets">Morphogenesis</a></div>
	<div class="topic"><a href="#sets">Cell differentiation and stem cells</a></div>
	<div class="topic"><a href="#sets">Specification of neural fate</a></div>
	<div class="topic"><a href="#sets">Axon guidance</a></div>
	<div class="topic"><a href="#sets">Cell death and survival</a></div>
	<div class="topic"><a href="#sets">Sexual differentiation of the nervous system</a></div>
	<div class="topic"><a href="#sets">Synapse formation</a></div>
	<div class="topic"><a href="#sets">Activity-dependent synaptic competition</a></div>
	<div class="topic"><a href="#sets">Plasticity</a></div>
	<div class="topic"><a href="#sets">Spike-timing dependent plasticity</a></div>
	<div class="topic"><a href="#sets">Plasticity and language development</a></div>
	<div class="topic"><a href="#sets">Autism</a></div>
	<div class="core">Cognitive neuroscience</div>
	<div class="topic"><a href="#sets">Sensory processing</a></div>
	<div class="topic"><a href="#sets">Motor systems</a></div>
	<div class="topic"><a href="#sets">Action potential</a></div>
	<div class="topic"><a href="#sets">Energy consumption in the brain</a></div>
	<div class="topic"><a href="#sets">Attention</a></div>
	<div class="topic"><a href="#sets">Executive control</a></div>
	<div class="topic"><a href="#sets">Value based decision making</a></div>
	<div class="topic"><a href="#sets">Reinforcement learning</a></div>
	<div class="topic"><a href="#sets">Emotion</a></div>
	<div class="topic"><a href="#sets">Memory</a></div>
	<div class="topic"><a href="#sets">Long-term potentiation and synapses</a></div>
	<div class="topic"><a href="#sets">Spatial cognition</a></div>
	<div class="topic"><a href="#sets">Social cognition</a></div>
	<div class="core">Systems neuroscience</div>
	<div class="topic"><a href="#sets">Functional neuroanatomy</a></div>
	<div class="topic"><a href="#sets">Ascending and descending pathways</a></div>
	<div class="topic"><a href="#sets">Functional architecture of the cerebral cortex</a></div>
	<div class="topic"><a href="#sets">Cell types</a></div>
	<div class="topic"><a href="#sets">Cortical circuits, feedforward, recurrent, canonical microcircuits</a></div>
	<div class="topic"><a href="#sets">Long-range intracortical connections</a></div>
	<div class="topic"><a href="#sets">Optical imaging</a></div>
	<div class="topic"><a href="#sets">Inter-areal cortical connections</a></div>
	<div class="topic"><a href="#sets">Receptive fields</a></div>
	<div class="topic"><a href="#sets">Signal detection theory</a></div>
	<div class="topic"><a href="#sets">Subcortical, cortical processing</a></div>
	<div class="topic"><a href="#sets">Multi-electrode recording</a></div>
	<div class="topic"><a href="#sets">Signal and noise correlations</a></div>
	<div class="topic"><a href="#sets">Population coding and decoding</a></div>
	<div class="topic"><a href="#sets">Visual, auditory, somatic, motor, association cortex, sensory motor integration,
			multi-sensory integration, space representation, reward</a></div>
	<div class="topic"><a href="#sets">Development and plasticity of neuronal circuits</a></div>
	<div class="topic"><a href="#sets">Population matching, development of corticla circuits, synaptic plasticity,
			adaptation, learning, recovery</a></div>
	<div class="core">Molecular neuroscience</div>
	<div class="topic"><a href="#sets">Cellular organization of the nervous system</a></div>
	<div class="topic"><a href="#sets">Subcellular organization of the nervous system</a></div>
	<div class="topic"><a href="#sets">Resting membrane potential</a></div>
	<div class="topic"><a href="#sets">Action potentials</a></div>
	<div class="topic"><a href="#sets">Synaptic transmission</a></div>
	<div class="topic"><a href="#sets">Neurotransmitters</a></div>
	<div class="topic"><a href="#sets">Intracellular signaling</a></div>
	<div class="topic"><a href="#sets">Postsynaptic potentials</a></div>
	<div class="topic"><a href="#sets">Neurogenesis and differentiation</a></div>
	<div class="topic"><a href="#sets">Growth cones and axon pathfinding</a></div>
	<div class="topic"><a href="#sets">Synapse formation</a></div>
	<div class="topic"><a href="#sets">Programmed cell death & neurotrophic factor</a></div>
	<div class="topic"><a href="#sets">Synapse elimination</a></div>
	<div class="topic"><a href="#sets">Dendrite development</a></div>
	<div class="topic"><a href="#sets">Neural plasticity</a></div>
	<div class="topic"><a href="#sets">Learning and memory (invertebrate)</a></div>
	<div class="topic"><a href="#sets">Learning and memory (vertebrate)</a></div>
	<div class="topic"><a href="#sets">Diffuse modulatory systems</a></div>
	<div class="topic"><a href="#sets">Plasticity in diffuse modulatory system</a></div>
	<div class="core">Computational neuroscience</div>
	<div class="topic"><a href="#descriptive_geometry">Convolution</a></div>
	<div class="topic"><a href="#descriptive_geometry">Correlation</a></div>
	<div class="topic"><a href="#descriptive_geometry">Linear systems</a></div>
	<div class="topic"><a href="#descriptive_geometry">Game theory</a></div>
	<div class="topic"><a href="#descriptive_geometry">Signal detection theory</a></div>
	<div class="topic"><a href="#descriptive_geometry">Probability theory</a></div>
	<div class="topic"><a href="#descriptive_geometry">Information theory</a></div>
	<div class="core">Neurophilosophy</div>
	<div class="topic"><a href="#sets">The indirectness of studies of mind and brain</a></div>
	<div class="topic"><a href="#sets">Computation or representational analysis of brain processing</a></div>
	<div class="topic"><a href="#sets">Relations between psychological and neuroscientific inquiries</a></div>
	<div class="topic"><a href="#sets">Modularity of mind</a></div>
	<div class="topic"><a href="#sets">What constitutes adequate explanation</a></div>
	<div class="topic"><a href="#sets">Location of cognitive function</a></div>
	<div class="core">Neuropsychology</div>
	<div class="topic"><a href="#sets">Clinical neuropsychology</a></div>
	<div class="topic"><a href="#sets">Cognitive neuropsychology</a></div>
	<div class="topic"><a href="#sets">Connectionism</a></div>
	<div class="topic"><a href="#sets">Functional neuroimaging</a></div>
</div>
<h1>Neuroscience</h1>
<h4>Light sensation/visual physiology</h4>
<p>Let's begin by describing the anatomy of the human eye. If you look at the human eye from the front, you can see
	several structures. The white is called the sclera, and forms part of the supporting wall of the eyeball. The pupil
	is the pitch black center that allows light to enter the eye (it appears dark because the pigments in the retina
	absorb all the light). The pupil is an aperture, or a hole, in the middle of the iris on top of the lens. The iris
	surrounds the pupil and is pigmented to give us our eye's color. The iris controls
	the size of the pupil so that more or less light is allowed to enter the eye. Eye color aka iris color is due to
	variable amounts of eumelanin (brown/black melanin) and pheomelanin (red/yellow melanin). The Melanocortin-1
	Receptor Gene regulates eumelanin production. Presence of point mutations in the MCIR gene is a common feature in
	light skinned and blue/green eyed people. A transparent external surface, the cornea, covers both the pupil and the
	iris. The cornea is the first and most powerful lens of the optical system of the eye and allows, together with the
	cyrstalline lens, the production of a sharp image at the retinal photoreceptor level. The sclera is continuous with
	the cornea and with the dura of the central nervous system. The orbit is the cavity or socket of the skull in which
	the eye and its appendages are located. If we remove the eye form the orbit, we find that the eye is a slightly
	asymmetrical sphere with an approximate sagittal diameter or length of 24 to 25 mm, and a transverse diameter of 24
	mm. It has a volume of about 6.5 cc.</p>
<p>The eye has three layers. The external layer is formed by the sclera and the cornea (the sclera covers the whole eye
	other than the cornea). The intermediate layer is divided into the anterior and posterior parts. In the anterior
	part, you have the iris and ciliary body. In the posterior, you have the choroid, a thin layer which provides oxygen
	and nourishment to the outer layers of the retina. The most interior portion is the
	retina, the sensory part of the eye. Between the cornea and the iris lies the anterior chamber, there is a posterior
	chamber between the iris, zonule fibers and lens (relatively small), and a vitreous chamber filling up the rest of
	the eye (filled with viscous vitreous humor). The lens is a transparent body located behind the iris, suspended by
	ligaments
	called zonule fibers attached to the anterior portion of the ciliary body. Contraction or relaxation of these
	ligaments as a consequence of ciliary muscle actions changes the shape of the lens, a process called accommodation,
	that allows us to form a sharp image on the retina. Light rays are focused through the transparent cornea and lens
	upon the retina. The central point for image focus in the human retina is the fovea. Here a maximally focused image
	initates resolution of the finest detail and direct transmission of that detail to the brain for the higher
	operations needed for perception. The optic axis is the longest sagittal distance between the front of the cornea
	and the furthest posterior part of the eyeball. The eye is rotated by the eye muscles about the optic axis.</p>
<p>The retina lines the back of the eye. It connects to the optic nerve, which contains ganglion cell axons running to
	the brain and incoming blood vessels that open into the retina to vascularize the retinal layers and neurons.
	Ganglion cells (output neurons) lie innermost in the retina closest to the lens and front of the eye, and
	photosensors (rods and cones) lie outermost in the retina against the pigment epithelium and choroid. Light must,
	therefore, travel through the thickness of the retina before striking and activating the rods and cones.
	Subsequently the absorption of photons by the visual pigment of the photoreceptors is translated into first a
	biochemical message and then an electrical message that can stimulate all the succeeding neurons of the retina. The
	retinal message is transmitted to the brain from the spiking discharge pattern of the ganglion cells.</p>
<p>All vertebrate retinas are composed of three layers of nerve cell bodies and two layers of synapses. The outer
	nuclear layer contains cell bodies of the rods and cones, and the inner nuclear layer contains cell bodies of
	bipolar, horizontal and amacrine cells. The ganglion cell layer contains cell bodies of ganglion cells and displaced
	amacrine cells. Dividing these nerve cell layers are two neuropils (dense network of interwoven nerve fibers) where
	synaptic contacts occur.</p>
<p>The first area of neuropil is the outer plexiform layer (OPL) where connectoins between rods and cones, and
	vertically running bipolar cells and horizontally oriented horizontal cells occur. The second neuropil is the inner
	plexiform layer (IPL), which functions as a relay station for the vertical-information-carrying nerve cells, the
	bipolar cells, to connect to ganglion cells. In addition, amacrine cells somehow interact in further networks to
	influence and integrate ganglion cell signals.</p>
<p>Light passes through the cornea, anterior chamber, posterior chamber, lens, vitreous chamber, and then strikes
	the retina. However, photoreceptor cells are depolarized in the dark (a bit counterintuitive). The photoreceptor is
	activated and releases glutamate, which activates bipolar cells, which are inhibitory. This inhibits ganglion cells.
	Light causes photoreceptors to hyperpolarize, which inhibits bipolar cells (BCs), causing activation of ganglion
	cells.
	(This section is questionable since later we discuss ON and OFF bipolar cells.)
</p>
<p>How do photoreceptors receive light? Photoreceptors have a disk inside of them. On the membrane of the protein is a
	protein called opsin, which has a cofactor called retinal. Protein and cofactor together is called rhodopsin. The
	light causes the cis-retinal to isomerize into trans-retinal, activating rhodopsin and causing it to release a
	G-protein called transducin. Transducin activates cGMP phosphodiesterase, hydrolyzing cGMP to GMP, which causes
	ligand-gated sodium channels to close, hyperpolarizing the photoreceptor. cGMP keeps the sodium channels open. In
	the dark, cGMP is present and
	ligand-gated sodium channels are open. The cis-retinal is regenerated via photobleaching after the trans-retinal is
	removed from the rhodopsin.</p>
<h4>Retinal pigment epithelium</h4>
<p>The retinal pigment epithelium (RPE) is the pigmented cell layer just outside the neurosensory retina that nourishes
	retinal visual cells, and is firmly attached to the underlying choroid and overlying retinal visual cells. It is
	responsible for absorbing scattered light as well as the recycling of trans-retinal, a process called the visual
	cycle of retinal.</p>
<h4>Mirrors in the eye</h4>
<p>Electron microscopy images of the scallop eye show guanine crystals that are tilted, not parallel to the retina,
	acting as mirrors to focus light.</p>
<img src="{{ url_for('static', filename='img/neuroscience/tiltguanine.png') }}">
<h4>Tapetum</h4>
<p>The tapetum lucidum (meaning bright tapestry in Latin) is a layer of tissue lying immediately behind the retina. It
	is a retroreflector, reflecting visible light back through the retina, increasing the light available to
	photoreceptors, contributing to the superior night vision of some animals such as nocturnal carnivores or deep sea
	animals. They are the cause of seeing eyeshine from some animals. The tapetum reflects back light that was not
	initially absorbed after it passed through the photoreceptors.</p>
<img src="{{ url_for('static', filename='img/neuroscience/tapetum.png') }}">
<h4>Bipolar cell pathways</h4>
<p>Retinal ganglion cells are only two synapses distant from retinal photoreceptors, yet ganglion cell responses are far
	more diverse than those of photoreceptors. The most direct pathway from photoreceptors to ganglion cells is through
	retinal bipolar cells. Therefore, it is of great interest to understand how bipolar cells transform visual signals.
	Werblin and Dowling were among the first to investigate light-evoked responses of retinal bipolar cells. Based on
	studies using penetrating microelectrodes, they proposed that retinal bipolar cells lacked impulse activity and
	processed visual signals through integration of analog signals, that is synaptic currents and non-spike-generating
	voltage-gated membrane currents. They discovered the 'ON or OFF' light-evoked physiology of bipolar cells. ON-center
	bipolar cells are depolarized by small spot stimuli positioned in the receptive field center. OFF-center bipolar
	cells are hyperpolarized by the same stimuli. Both types are repolarized by light stimulation of the peripheral
	receptive field outside of the center. Surround interneurons inhibit the center bipolar cell.</p>
<p>So let's say we have a central white dot surrounded by darkness. This will cause the center photoreceptor to
	hyperpolarize and the surround photoreceptors to depolarize, activating the surround interneuron which will further
	inhibit the center photoreceptor. If this is an ON-center bipolar cell, </p>
<p>ON-center bipolar cells respond to light increments above the mean, whereas OFF-center bipolar cells respond to light
	decrements below the mean. The axons of ON BCs terminate in the inner half of the IPL, where they synapse with
	dendrites from ON retinal ganglion cells (RGcs). Likewise, OFF BCs contact OFF RGCs, but at the outer half of the
	IPL. WHATEVER THE ON OFF STUFF DOESN'T MATTER THIS CAN EASILY GET SUPER CONFUSING DUE TO THE COUNTERINUITIVE NATURE
	OF BIOLOGY. Having On/Off signals is in my opinion an attempt to convert an analog signal into a digital one. I
	don't think this area can be trusted much until more is understood. Anything learned here is likely not super
	useful.</p>
<h4>Neuropil</h4>
<p>Efficiency in the brain
	From Wikipdia: "Neurons are necessary for all connections made in the brain, and thus can be thought of as the
	"wires" of the brain.
	As in computing, an entity is most efficient when its wires are optimized; therefore, a brain which has
	undergone
	millions of years of natural selection would be expected to have optimized neural circuitry. To have an
	optimized
	neural system it must balance four variables—it must "minimize conduction delays in axons, passive cable
	attenuation
	in dendrites, and the length of 'wire' used to construct circuits" as well as "maximize the density of
	synapses",[5]
	essentially optimizing the neuropil. Researchers at Cold Spring Harbor Laboratory formulated the optimal balance
	of
	the four variables and calculated the optimal ratio of axon plus dendrite volume (i.e. the "wire" volume or
	neuropil
	volume) to total volume of grey matter. The formula predicted an optimal brain with 3/5 (60%) of its volume
	occupied
	by neuropil. Experimental evidence taken from three mouse brains agrees with this result. The "fraction of wire
	is
	0.59 ± 0.036 for layer IV of visual cortex, 0.62 ± 0.055 for layer Ib of piriform cortex, and 0.54 ± 0.035 for
	the
	stratum radiatum of hippocampal field CA1. The overall average is 0.585 ± 0.043; these values are not
	statistically
	different from the optimal 3/5.""</p>
<h4>Circadian photoentrainment</h4>
<p>Melanopsin is a type of photopigment belonging to a larger family of light-sensitive retinal proteins called opsins
	encoded by the gene Opn4. In the mammalian retina, there are two additional cteagories of opsins, both involved in
	the formation of visual images: rhodopsin and photopsin in the rod and cone photoreceptor cells, respectively. In
	humans, melanopsin is found in intrinsically photosensitive retinal ganglion cells (ipRGCs), as well as in the iris
	of mice and primates. ipRGCs are photoreceptor cells particularly sensitive to the absoprtion of short-wavelength
	(blue) visible light and that communicate directly with the suprachiasmatic nucleus (SCN), also known as the central
	body clock. Melanopsin plays an important non-image-forming role in the setting of circadian rhythms. Mutations in
	Opn4 can lead to Seasonal Affective Disorder.</p>
<p>Melanopsin serves an important role in the photoentrainment of circadian rhythms in mammals. An organism that is
	photoentrained has aligned to its activity to an approximately 24-hour cycle, the solar cycle on Earth. Blind humans
	are still able to entrain to the light-dark cycle despite having no conscious perception of light. Melatonin was
	suppressed not only in visually unimpaired humans but also in blind participants, suggesting that the photic pathway
	used by the circadian system is functionally intact despite blindness.</p>
<h4>Intervertebrate vision</h4>
<p>The lamina is the equivalent to the outer plexiform layer in vertebrates and the medulla is the equivalent to the
	IPL.
	<h4>Critical periods</h4>
	<p>A critical period is a concept in developmental psychology and developmental biology which suggests that there is
		a
		maturational stage in the lifespan of an organism during which the nervous system is especially sensitive to
		certain
		environmental stimuli. More concrete examples of critical periods in humans involve the visual, hearing and
		vestibular systems.</p>
	<h4>Monocular deprivation</h4>
	<p>David H. Hubel and Torsten Wisel (1963) showed that cats that had one eye sewn shut from birth to three months of
		age
		only fully developed vision in the open eye, and that columns in the primary visual cortex receiving inputs from
		the
		other eye took over the areas that would normally receive input from the deprived eye. Electrophysiological
		analyses
		of axons and neurons in the lateral geniculate nucleus, however, showed the receptive field properties were
		comparable to normal cats, but had less activity and fewer responses. The kittens had abnormally small ocular
		dominance columns connected to the closed eye and abnormally large wide columns connected to the open eye. Adult
		cats even when one eye was sewn shut for a year, did not have this problem.</p>
	<h4>Pacinian corpuscle</h4>
	<p>The Pacinian corpuscle, or lamellar corpuscle, or Vater-Pacini corpuscle, is a type of specialized nerve ending
		primarily responsivle for detecting vibration. They are rapidly acting and respond only to sudden disturbances
		and
		especially sensitive to vibration of few hundreds of Hz. This vibration may be useful for detecting surface
		texture,
		e.g. rough vs smooth. They detect stimuli due to deformation of their lamellae, which triggers leakage of sodium
		ions.</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/5/52/Gray935.png">
	<li>Bioelectricity</li>
	<p>Most of the experiments investigating ion concentrations were originally done on the squid giant axon. The key to
		the
		resting potential of neuron membranes is that there are ion concentration differences from inside to outside of
		the
		cell. These differences are generated by active transporters. Inside of the mammalian (not squid) neuron,
		potassium
		(in mM) is 140, sodium is 5-15, chloride is 4-30, and calcium is 0.0001. Outside of the cell, potassium is 5,
		sodium
		is 145, chloride is 110, and calcium is 1-2. Remember that when I say potassium here, I mean KCl, or potassium
		chloride. So from inside to outside of the cell, there is no potential difference, beecause every KCl has a
		positive
		K+ and a negative Cl-, and every NaCl has a positive Na+ and a negative Cl-. However, when you make the membrane
		between the inside and outside permeable to just K+ ions (not allowing Cl-), then K+ will naturally want to
		leave
		from inside of the cell (140 mM) to outside (5 mM) because of the concentration gradient. Therefore, as
		potassium
		ions leave the inside of the cell, there is a buildup of positive charge outside of the cell, and a buildup of
		negative charge inside the cell. The potential difference created by these charges end up around -58 mV (from
		inside
		to outside). If, instead, the membrane was permeable to Na+, then the potential will end up being about +20 mV
		(because Na+ outside would flow into the cell).</p>
	<p>So what is this mathematically? We'll take a closer look at the Nernst-Planck equation.
		$$V_m=\frac{RT}{zF}\ln{\frac{[x]_\text{outside}}{[x]_\text{inside}}}$$</p>
	<p>So logically, we want to accommodate this equilibrium effect of having a concentration gradient. We have ions
		trying
		to move outside of the cell towards a lower concentration, but after that movement accumulates a certain amount
		of
		charge, the electrophoretic effect (the effect of an electric field on an ion) starts to pull those ions back.
		So
		basically we have two different forces pushing the ions to flow out or into the neuron.</p>
	<p>Let's first look at the forces pushing ions down their concentration gradient. This can be described by Fick's
		first
		law of diffusion, which relates diffusive flux to the gradient of the concentration. Before I go any further,
		let me
		define what flux means. Flux is the amount of anything that passes through a certain area given an amount of
		time,
		with the dimensions \(\frac{quantity}{time*area}\). Now let's discuss gradient. If you think about gradient of
		color, you can imagine a rectangle gradually changing from black to white... a black-to-white gradient. At each
		point of the gradient, the color is slowly changing, tiny bit by tiny bit, from black to white. If you take the
		derivative of that gradient, you can see how much the color is changing at an infinitely small change in
		position,
		which we label as x. Now, when we talk about the concentration gradient across a membrane, we're doing the same
		thing, except there is a huge difference in concentration at that tiny transition from inside to outside of the
		cell, aka the membrane. The concentration gradient in this case is not gradual, but rather sharp, kind of like
		jump
		discontinuity in graphs, except not exactly because there technically is a distance (thickness of the membrane)
		through which the ions need to diffuse through to get from the high concentration to low concentration. So let's
		replace concentration difference and this distance with variables. We get the concentration gradient across the
		membrane is \(\frac{dC}{dx}\), which means the change in concentration, over change in position.</p>
	<p>Okay, so we got the concentration gradient into our calculation of flux. But there are other variables as well
		that
		describe how ions move across any structure. These include temperature, viscosity, and size of the ions.
		However, to
		simplify these, we will combine them into one variable, which we will call the diffusion coefficient, or
		diffusivity
		symbolized as "D". So, together our equation for diffusive flux is just a combination of our diffusivity and our
		concentration gradient. So for each mole of ions we have, $$M_d=-D\frac{dC}{dx}$$</p>
	<p>To clarify, \(M_d\) here is molar flux from diffusion. In other words, how many moles of ions dissolve through
		the
		membrane per units of area and time. So we don't really care about how big our membrane is, nor how long we
		leave
		the ions there. We're just looking at the number of ions moving through at a snapshot of time and space. You
		will
		also notice that this is negative. This is just a sign convention where we are comparing inside (higher
		concentration) to outside (lower concentration). Since concentration is decreasing, the derivative is going to
		be
		negative. </p>
	<p>So now we have the flux from the concentration gradient, now let's look at the flux from the electric gradient.
		From
		the ions inside to the ions outside, there is an electrical gradient across a certain amount of space. We'll
		call
		this \(\frac{d\phi}{dx}\). This potential is multiplied by a variable of ion mobility \(\mu\). Finally, the
		greater
		the concentration of ions we have, the more flux we will have due to the electrophoretic effect. And hence, the
		molar flux from electrophoretic effect is below. Note again that we have a negative because the positive charges
		of
		K+ follow negative potentials, so the more negative the potential difference is, the more flux there should be.
		So:
		$$M_e=-\mu C\frac{d\phi}{dx}$$.</p>
	<p>So now we have both the molar electric flux and the concentration flux, which is the number of moles of ions
		passing
		through a given time and space. To find the amount of charge passing through, we just multiple this number by
		Faraday's constant, which is the amount of electric charge of one mole of electrons (in this case, we're talking
		about K+ ions, but they should be the same absolute value). So the current passing through is equal to:
		$$I=M_{K^+}zF=-zF(D\frac{dC}{dx}+\mu C\frac{d\phi}{dx})$$</p>
	<p>Now, we use Einstein's relationship for mobility: $$\mu=\frac{DxF}{RT}$$, where \(\mu\) is mobility, R is gas
		constant, T is absolute temperature, D is diffusivity, and x is position.</p>
	<p>After recognizing that the current, which we've found so far, is actually 0 at equilibrium, we set everything to
		zero, and integrate the local potential from inside to outside of the membrane, and plug in the constants R, T,
		and
		F and find that:
		$$\phi_\text{inside}-\phi_\text{outside}=\frac{58}{z}\ln\frac{[K^+]\text{inside}}{[K^+]\text{outside}}$$</p>
	<li>Chemical basis of electrical signals</li>
	<img src="{{ url_for('static', filename='img/neuroscience/voltageclamp.png') }}">
	<p>Let's talk about the voltage clamp. You have an electrode inside of the axon (in this case a squid giant axon due
		to
		its large size - NOT a giant squid axon... I do wonder how large a giant squid giant axon would be) and a
		reference
		electrode outside of the axon to measure the membrane potential. That membrane potential is compared to a
		command
		voltage (the voltage you want to set the voltage to), which will go through a voltage clamp amplifier and will
		send
		a current into the axon until the measured potential is equal to the command voltage. Basically, we are adding
		current to the inside of an axon until the membrane potential is whatever we want it to be. Then, with
		Kirchhoff's
		current law, we know that whatever current we're adding to the inside of the axon must be going out of the axon
		through the membrane. So then we can measure the current passing through the membrane at a given voltage.</p>
	<p>So let's say we want the command voltage to be set to -130 mV. This means the system will add a current until we
		hyperpolarize the membrane by an additional -65 mV (from a -65 mV resting potential). Since we're
		hyperpolarizing,
		the current technically is in reverse, which means we're pulling positive ions (remember here we're talking
		about
		hole current which follows positive ions) out of the axon.</p>
	<p>Realize that the membrane functions as a capacitor. There are charges building up inside of the membrane, and
		charges
		building up outside of the membrane, and these charges are separated by an insulator, hence making the membrane
		and
		its charges a capacitor.</p>
	<p>As we hyperpolarize the cell by pulling positive ions out, there is a similar inward membrane current.</p>
	<p>Now let's say we want to depolarize the cell from -65 resting potential to 0. Now we need to add 65 mV to the
		inside
		of the cell. So a current is added via the electrode, which, again, due to Kirchhoff's current law (KCL), means
		current is pushed through the membrane (an instantaneous capacitive current as the voltage adjusts). The
		capacitive
		current is basically the addition of charges onto the capacitor. Since at rest, the inside of the membrane has
		more
		negative charge, there is an addition of positive ions to bring that difference from inside to outside to zero.
		That
		is the capacitive current. Now, the fun doesn't stop there. Now that the membrane is depolarized, we then see a
		transient inward current, which is the opening of sodium channels letting sodium ions back into the cell. These
		channels open because they are voltage-gated. Remember that at rest, there is a lot more sodium outside of the
		cell
		than inside. So if you open those channels up, sodium will start coming in. This is termed the "transient inward
		current" (TIC). Because sodium is positive, this adds additional positive charges into the cell. Then after a
		millisecond or two, those sodium channels close and voltage-gated potassium channels open letting potassium ions
		out
		of the cell. This delayed outward current (DOC) will typically repolarize the membrane. However, if we keep the
		voltage clamped to 0, this outward current will continue for as long as we have the voltage clamped as the
		potassium
		channels do not close.</p>
	<img src="{{ url_for('static', filename='img/neuroscience/depolarize.png') }}">
	<img src="{{ url_for('static', filename='img/neuroscience/currents.png') }}">
	<p>One observation to make here is that if you depolarize the membrane to +20 or higher (equilibrium potential if
		sodium
		was permeable), you will notice that there is essentially no inward sodium current even though the conductance
		is
		high, because the sodium outside of the cell doesn't want to come down its concentration gradient because the
		inside
		of the cell is already too high voltage.</p>
	<p>These currents can be isolated from each other by applying TTX (to block Na+ current) and TEA (to block K+
		current).
	</p>
	<p>Key electrical properties of neuronal membrane that determine neuronal excitability include membrane resistance,
		capacitance, and time constant, which are consequences of charge separation and capacitive properties of the
		membrane. These properties dictate current-evoked voltage changes across the membrane. The resting membrane
		potential is determined by leak conductances and summation of the equilibrium potentials of their respective
		ions,
		as well as the relative concentration of impermeable ions across the membrane. Excitability can be quantified in
		many ways, such as rheobase (minimum stimulus intensity capable of evoking an action potential), action
		potential
		voltage threshold, or correlations with passive membrane properties.</p>
	<li>Spatio-temporal propagation</li>
	<p>Now let's talk about how an electric signal propagates down the axon. Say you put an extracellular electrode,
		adjacent to but not touching the axon, and drive a current into the neuron. And along the axon, you place
		intracellular electrodes to measure the electric potential inside the cell. You will see a particular waveform
		going
		across the axon, decreasing as it gets farther from your stimulation point, exponentially, due to leakage of
		current
		out of the axon. Note that the shape is not a square wave (which is what you would stimulate with).</p>
	<img src="{{ url_for('static', filename='img/neuroscience/propagation.png') }}">
	<p>Let's talk about the shape. If the neuron membrane was purely resistive, the graph of the membrane potential
		should
		be linear. But instead, we observe a ramping behavior that is similar to a capacitor. Next, you will notice that
		as
		we get farther from the stimulation site (say 2 mm away), there is a delay before the potential change.</p>
	<img src="{{ url_for('static', filename='img/neuroscience/attenuation.png') }}">
	<p>Now let's look at the amplitude of potential change as a function of distance. This equation is exponential,
		modeled
		by the equation \(V_0e^{-x/\lambda}\). Lambda (\(\lambda\)) is the space, or length, constant:
		\(\lambda=\sqrt{\frac{r_M}{r_i}}\), which depends on the resistance of the membrane and the resistances of the
		fluid
		inside of the cell. So if you have high membrane resistance, current will flow more slowly out of the axon as it
		travels, leading to a slower decrease of potential along the distance of the axon. In other words, the higher
		the
		space constant, the slower the potential is going to decrease exponentially. You can also imagine if the
		resistance
		of the fluid in the cell is very high, most of the current will want to travel through the membrane, leading to
		a
		fast drop in membrane potential.</p>
	<img src="{{ url_for('static', filename='img/neuroscience/space.png') }}">
	<p>Additionally, there is a time constant to how the potential changes. The time constant is defined as
		\(\tau=r_Mc_M\),
		or essentially the product of the membrane resistance and the membrane capacitance. The larger the time constant
		(aka the larger the capacitance of the membrane), the longer it takes for the voltage to ramp up.</p>
	<img src="{{ url_for('static', filename='img/neuroscience/time.png') }}">
	<p>Now, what we've discussed so far is all passive conduction, based on passive properties of the membrane. There is
		also active conduction, which is the triggering of action potentials (sodium channels opening to let in positive
		charge and potassium channels opening to let out positive charge). These action potentials are triggered
		constantly
		so each signal is propagated down the axon. In certain neurons, however, exist Schwann cells (in the peripheral
		nervous system) or oligodendrocytes (in the central nervous system), which surround chunks of the axon
		essentially
		insulating the axon, thereby both increasing the membrane resistance to prevent current flow (and thereby
		increasing
		the space constant which means a slower decrease in potential change the farther we get) as well as to prevent
		action potentials except at certain areas where there are "holes" in the insulation to allow action potentials
		to
		propagate. Therefore, myelin allows the axons to take advantage of both the speed of passive conduction and the
		ability of active conduction to recreate signals.</p>
	<img src="{{ url_for('static', filename='img/neuroscience/saltatory.png') }}">
	<p>Now remember that passive conduction is inherently faster than active conduction. If we myelinate the axons, we
		increase membrane resistance thereby increasing the space constant thereby increasing the potential difference
		farther away from the stimulation site. So with myelination we spee
		<p>So what happens if you damage myelination? This occurs, for example, in multiple sclerosis. Well, what
			happens is
			that the action potentials propagating down might not be able to reach the next node (not sure how this
			works,
			maybe the myelin covers too much sometimes?) or the action potential will not be in sync with the other
			nerve
			fibers in the bundle.</p>
		<li>Patch clamping</li>
		<p>So patch clamping is a technique developed in the 1950s to 1960s. You take a glass capillary tube and melt
			and
			then pull the end so that it becomes super sharp. You break the end off and you will get an inner diameter
			at
			the tip of a few microns. You then put that tube onto a stereotaxic frame to allow yourself to control it
			carefully, because you'll need to lower that tip down into your neurons until it touches the membrane but
			doesn't break into the cell. You apply suction to the end of the tube to create a seal between the tube and
			the
			membrane, creating an insulated electrical environment. Then, if you have ion channels in that patch you are
			clamped to, you could study those individual ion channels.</p>
		<img src="{{ url_for('static', filename='img/neuroscience/patchclamp.png') }}">
		<p>You could also apply stronger suction to break the membrane open, allowing you to record that intracellular
			environment exposed (whole-cell recording if the cell is small). You could also pull back on the pipette,
			thereby pulling off the patch of membrane, which allows you to manipulate the inside of the patch and study
			the
			ion channels (inside-out recording). If you apply stronger suction to break the membrane open, and then pull
			back on the pipette (aka tube), the membrane will flip inside out, allowing you to manipulate the
			extracellular
			domain of the ion channels (outside-out recording).</p>
		<img src="{{ url_for('static', filename='img/neuroscience/clamping.png') }}">
		<p>With this patch clamp technique, we can measure microscopic currents through small groups of ion channels. If
			we
			sum all of these currents up, we will see that they sum to something that looks like the transient inward
			current (for sodium) and the delayed outward current (for potassium).</p>
		<p>Now, you might wonder, what is the threshold membrane potential for an ion channel to open? Although there is
			approximately one value, there is actually a distribution across individual ion channels opening. As shown
			below, most sodium and potassium ion channels open by the time the membrane potential reaches 0mV or higher.
		</p>
		<img src="{{ url_for('static', filename='img/neuroscience/summed.png') }}">
		<img src="{{ url_for('static', filename='img/neuroscience/summedK.png') }}">
		<p>There are different types of ion channels. When talking about action potentials, we've been talking about
			voltage-gated ion channels. There are also ligand-gated ion channels, that require something to bind to them
			for
			them to open. There are also mechanically gated ion channels. For example, our touch receptors like the
			Meissner
			corpuscle has mechanically-gated ion channels that open up when the channel is physically stretched apart.
			For
			taste receptors, the chemicals that we have on our tongue activate an intracellular cascade via a G-protein
			receptor, which activate ion channels. There are also heat-activated ion channels that allow calcium to
			enter
			the cell and trigger an action potential. Capsaicin can also go through the membrane and open up these
			heat-activated ion channels from the inside. So when you eat spicy food and hot food at the same time, those
			add
			to each other and make things feel even worse.</p>
		<img src="{{ url_for('static', filename='img/neuroscience/touch.png') }}">
		<img src="{{ url_for('static', filename='img/neuroscience/taste.png') }}">
		<img src="{{ url_for('static', filename='img/neuroscience/capsaicin.png') }}">
		<p>Hair cells in the ear also allow for mechanically-gated ion channels to trigger an action potential based on
			sound waves. Interestingly, there is another set of hair cells outside of the inner hair cells which don't
			pick
			up sounds but actually generate sounds, which can actually be picked up by a microphone. The purpose of this
			second layer is to dynamically stiffen the membrane of the cochlea to allow you to change the gain
			(automatic
			gain control).</p>
		<img src="{{ url_for('static', filename='img/neuroscience/ear.png') }}">
		<p>In our sight receptors in our eye, darkness triggers cGMP which leads to an action potential. This process is
			reversed when they are exposed to light, leading to breakdown of cGMP and no action potentials. So
			technically,
			we don't see light... we see darkness.</p>
		<img src="{{ url_for('static', filename='img/neuroscience/rods.png') }}">
		<li>Post-synaptic receptors</li>
		<p>So people found that there is chemical transmission between nerves. What they did was take two frog hearts
			and
			immersed them into solution. They stimulated one frog heart and found a change in contraction. They then
			took
			the liquid out of that container and put it into the other heart, and found the second heart also started to
			change in contraction force, thereby showing that the signal was transmitted in the liquid.</p>
		<p>Even if a postsynaptic potential increases relative to the resting potential, it can still be inhibitory as
			long
			as it is lower than the threshold for an action potential. It is called inhibitory because it decreases the
			average potential at the axon hillock relative to the threshold.</p>
		<img src="{{ url_for('static', filename='img/neuroscience/rods.png') }}">


		{% endblock %}