{% extends 'base.html' %}

{% block content %}


<style>
	p,
	button {
		font-size: 100%;
	}

	#integer1_remove {
		display: none;
	}

	iframe {
		display: block;
		margin: 0 auto;
	}

	.sidebar {
		position: fixed;
		margin-left: -375px;
		border-left: 8px solid #c8dce3;
		background-color: #fff;
		overflow-y: scroll;
	}

	.sidebar {
		width: 350px;
		height: 85vh;
	}

	.core {
		padding: 7px;
		width: 100%;
		background-color: beige;
		font-size: larger;
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.core:first-child {
		margin-top: 0px;
	}

	.topic {
		padding-left: 15px;
	}

	.topic a {
		color: #333333;
	}

	.topic a:hover {
		text-decoration: underline;
	}

	a.anchor {
		display: block;
		position: relative;
		top: -150px;
		visibility: hidden;
	}

	.sidebar::-webkit-scrollbar {
		width: 8px;
		/* width of the entire scrollbar */
	}

	.sidebar::-webkit-scrollbar-track {
		background: beige;
		/* color of the tracking area */
	}

	.sidebar::-webkit-scrollbar-thumb {
		background-color: #c8dce3;
		/* color of the scroll thumb */
		/* roundness of the scroll thumb */
		border: 3px solid #c8dce3;
		/* creates padding around scroll thumb */
	}
</style>

<div class="sidebar">
	<div class="core">Classical mechanics</div>
	<div class="topic"><a href="#logic">Classical mechanics</a></div>
	<div class="topic"><a href="#language">Newton's laws and forces</a></div>
	<div class="topic"><a href="#reasoning">Momentum</a></div>
	<div class="topic"><a href="#sets">Collisions</a></div>
	<div class="topic"><a href="#sets">Energy and its conservation</a></div>
	<div class="topic"><a href="#sets">Rotational and translational motion</a></div>
	<div class="topic"><a href="#sets">Rigid body motion</a></div>
	<div class="topic"><a href="#sets">Gyroscopic motion</a></div>
	<div class="topic"><a href="#sets">Collisions</a></div>
	<div class="topic"><a href="#sets">Collisions</a></div>
	<div class="core">Electricity and magnetism</div>
	<div class="topic"><a href="#logic">Electric field, electric field, dipoles, continuous charge distributions</a>
	</div>
	<div class="topic"><a href="#language">Electric potential, equipotentials</a></div>
	<div class="topic"><a href="#reasoning">Gauss's law</a></div>
	<div class="topic"><a href="#sets">Conductors and capacitors</a></div>
	<div class="topic"><a href="#sets">Current, resistance, and DC circuits</a></div>
	<div class="topic"><a href="#sets">Magnetic fields, Ampere's law</a></div>
	<div class="topic"><a href="#sets">Faraday's law</a></div>
	<div class="topic"><a href="#sets">Mutual inductance and transformers, inductors</a></div>
	<div class="topic"><a href="#sets">RC and RL circuits</a></div>
	<div class="topic"><a href="#sets">LC, undriven, and driven LRC circuits</a></div>
	<div class="topic"><a href="#sets">Maxwell's equations, EM radiation and energy flow</a></div>
	<div class="core">Vibrations and waves</div>
	<div class="topic"><a href="#logic">Simple harmonic motion</a></div>
	<div class="topic"><a href="#language">Harmonically driven oscillator</a></div>
	<div class="topic"><a href="#reasoning">Coupled oscillators</a></div>
	<div class="topic"><a href="#sets">Driven coupled oscillators</a></div>
	<div class="topic"><a href="#sets">Wave equation</a></div>
	<div class="topic"><a href="#sets">Fourier analysis</a></div>
	<div class="topic"><a href="#sets">Electromagnetic wave equation</a></div>
	<div class="topic"><a href="#sets">Plane polarized EM waves</a></div>
	<div class="topic"><a href="#sets">Dipole radiation</a></div>
	<div class="topic"><a href="#sets">Interference</a></div>
	<div class="topic"><a href="#sets">Diffraction</a></div>
</div>

https://www.overleaf.com/read/rhxwtnpzrxdf
Currently taking notes on physics on overleaf.

<h1>Physics</h1>
<h4>Matter</h4>
<p>There are two signs of charge: positive charges (protons) and negative charges (electrons).</p>
<h4>Electric Forces</h4>
<p>Electric charges produce forces on other charges. Coulomb's law is an experimental law of physics that states the
	magnitude of the force between two point charges (protons and electrons) is directly proportional to the product of
	the magnitudes of charges and inversely proportional to the square of the distance between them. Like charges repel,
	whereas opposite charges attract.</p>
$$|F|=K\frac{q_1q_2}{r^2}, \text{where }K=\text{Coulomb's
constant}=8.988\times10^9\mathrm{N}\!\cdot\!\mathrm{m^2}\!\cdot\!\mathrm{C^{-2}}$$
<h4>Charge Distribution and Geometry</h4>
<p>Lines have a linear density of charge \(q/l\) per unit length. Areas have an areal density of charge \(q/A\) per unit
	area, and volumes have a volumetric density of charge \(q/V\) per unit volume, which are related to Coulomb's Law
	via multivariable calculus.</p>
<h4>Electric Fields</h4>
<p>An electrical field is a physical field that surrounds electrically charged particles and exerts force on all other
	charged particles. It is a vector field, where each point in the field has a magnitude and a direction. The electric
	field can be visualized with a set of lines.</p>
<h4>Electric Potential</h4>
<p>The electric potential is the conversion of the electric field into a scalar.</p>
<h4>Conservation of Charge</h4>
<p>Total charge is conserved in the universe. You cannot create a net negative charge on an object without creating a
	corresponding net positive charge on another.</p>
<h4>Coulombs</h4>
<p>The unit of charge is the Coulomb. It is defined as positive for protons and negative for electrons. 1 electron is
	-1.602x10^-19 coulombs.</p>
<h4>Materials and "Free" Electrons</h4>
<p>Most electrons are not free to move and are bound tightly to their nucleus. However, in some materials and at some
	temperatures, some electrons are free to move to neighboring atoms. These materials are called conductors.</p>
<h4>Static Charges within a Conductor</h4>
<p>Static charges are free to move through the conductor. Because these charges can move, they will naturally seek to
	move as far away from each other as possible. They will therefore spread out to the surface or edge of a conductor.
</p>
<h4>Induced Charge</h4>
<p>If a conductor is placed in the presence of an external electric field, the charges in a conductor will be
	accelerated by the field. The charges will rearrange themselves until they perfectly cancel any electrical field.
	This electrostatic charge is considered inducted because there was no contact with the external charge. In contrast,
	charges in an insulator cannot move.</p>
<h4>Origins of Capacitance</h4>
<p>The tendency for charges in a conductor to rearrange themselves along the surface to cancel out an external electric
	field leads us to the concept of capacitance.</p>
<h4>Parallel Plate Capacitor</h4>
<p>When two conductive plates are placed a short distance apart, with an insulating gap of constant width, this is often
	called a parallel-plate capacitor. The capacitance of the plates goes up with dielectric material, larger surface
	area, and a closer distance between the plates.</p>
$$C=\frac{k\epsilon_0A}{d}$$
<p>\(\epsilon_0\) is the permittivity of free space, and \(k\epsilon_0\) is the permittivity for the specific material
	in the gap, and A is the overlapping surface area of the plates, and d is the distance of the gap between the
	plates.</p>
<p>If you place an additional plate in between the two plates of the capacitor, then the charges will rearrange in that
	plate such that the positive side is away from the positive capacitor plate and vice-versa. This effectively
	increases the capacitance because the gap between the plates decreases.</p>
<h4>Dielectrics</h4>
<p>Dielectrics and permittivity have to do whether materials can be electrically polarized. In a vacuum, the "electric
	permittivity of free space" is a particular constant \(\epsilon_0\).</p>
<h4>Dielectrics in Capacitors</h4>
<p>High-permittivity materials are often used as dielectrics within capacitors. Capacitors store energy in the slight
	dislocation caused by polarizing the dielectric material. Imagine the dielectric in the capacitor where the positive
	charges are fixed and a negative charge is connected to each positive charge by a tiny "spring." When an external
	field is applied, the negative charges are attracted to the plate storing up energy.</p>
<h4>Roll, pitch yaw</h4>
<p>For flying airplanes, rotation around the front-to-back axis is called roll (spinning like a torpedo). Rotation
	around the side-to-side axis is called pitch (looking up or down). Rotation around the vertical axis is called yaw
	(turning left and right).</p>

{% endblock %}