{% extends 'base.html' %}

{% block content %}

<h1>Biophysics</h1>
<h4>Walking</h4>
<p>Newton's first law states an object is at rest if no external forces are applied. Newton's third law states every
    force applied has an equal and opposite force applied back on the applying object (note that this is not talking
    about weight and normal force because those are applied to the same object whereas third law talks about two objects
    applying forces on each other). Walking is caused by the foot applying a backwards movement onto the ground, which
    causes a forward friction force moving the body forward. (This is obviously very simplified and will need updating.)
</p>
{% endblock %}