{% extends 'base.html' %}

{% block content %}
Introduction to Animal Research
Reduce number of animals used by performing statisticaly analyses to determine optimum number of animals needed, collect multiple types of data from the same group, and collaborate with other labs to harvest multiple tissues from a single euthanized animal to maximize the animal's contribution
Minimize pain and distress by modifying surgical approaches, provide pain relieving measures, and modify housing
Use computer models and less evolved species when possible
{% endblock %}