{% extends 'base.html' %}

{% block content %}

<h4>Prepare MEAs</h4>
<ol>
	<li>Coat the center of each well with PEI (0.1%).</li>
	<li>Incubate at 37°C and 10% CO2 overnight.</li>
	<li>The following morning, rinse three times with sterile double de-ionized water and allow to dry.</li>
	<li>Add 10 microliters laminin (20 ug/ml) to center of each well adn incubate at 37°C for 2 h. Remove laminin immediately before cell seeding.</li>
</ol>
<h4>Primary DRG extraction and culture</h4>
<ol>
	<li>Isolate DRGs and place in ice-cold HBSS.</li>
	<li>Transfer to hood, and wash with washing medium (40ml HBSS + 0.132 ml 300x stock gentamycin + 0.4ml 100x stock kanamycin).</li>
	<li>Transfer to dissociation solution, consisting of collagenase (2 mg/ml) and DNase (0.1 mg/ml) and incubate for 40 min at 37°C.</li>
	<li>2x dissociation solution: 4 mg/ml collagenase and 0.2mg/ml DNase. To make 6ml dissociation solution, dissolve 24mg collagenase IV in 6ml HBSS, filter-sterilize, and then add 62ul DNase. The DNase I is supplied by Thermo Fisher in a 20,000 Unit vial with a concentration varying form 50-375 U/ul. The specific activity of DNase I is typically in the range of 10,000-25,000 units/mg. Therefore:</li>
	$$0.1\text{mg DNase I}*\frac{17,500\text{ units}}{1 \text{ mg}}*\frac{1\text{ ul}}{338.5\text{ units}} = 5.17\text{ ul DNase I}$$
	<p>Since we're making 6ml of a 2x solution, we need to multiply this by 12.</p>
	$$5.17\text{ ul DNase I}*2*6=62.04\text{ ul DNase}$$
	<li>After 40 min, add trypsin (0.025%) and incubate for an additional 5 min at 37°C.</li>
	<li>Triturate with fire-polished glass Pasteur pipette until solution appears homogeneous.</li>
	<li>Pass solution through 70-um nylon filter, and triple the volume with DMEM/F12 + 10% FBS to quench trypsinization.</li>
	<li>Centrifuge cells (10 min at 600g) and resuspend in fresh complete medium (DMEM/F-12 + GlutaMAX, 10% FBS, 1% P/S, 5 ng/ml GDNF).</li>
	<li>Seed 5-10 ul containing an estimated 10,000 cells at the center of each MEA device.</li>
	<li>Incubate plates at 37°C, 10% CO2, and 95% humidity.</li>
	<li>Replace media after the first 24 h and every alternate day afterwards.</li>
	<li>After nonneuronal cells reach 90% confluence (DIV 5-7), supplement media with mitotic inhibitors uridine (17.5 ug/ml) and 5-fluoro-2'-deoxyuridine (7.5 ug/ml).</li>
</ol>

Create 40ml Washing medium
40ml HBSS
0.132 ml 300X stock gentamycin
0.4ml 100x stock kanamycin

Create dissociation solution (2mg collagenase dissolved in 1ml HBSS)
0.1mg DNase x (17500 units)/1mg x (1 ul)/(338.5 units) = 5.17 ul DNase per 0.1 mg
0.1 mg/ml DNase add to dissociation soliution
Create 2X dissociation solution - 4mg/ml collagenase and 0.2mg/ml DNase
To make 6ml dissociation solution, dissolve 24mg collagenase IV in 6ml HBSS
Then dissolve 5.17 * 2 * 6 = 62.04 ul DNase
Filter-sterilize

Make complete cell medium - DMEM/F12 + GlutaMAX + 10% FBS + 1% PS + 5 ng/ml GDNF
10 ug total
5 ng/ml GDNF
20ml of complete medium
20ml DMEM/F12 + 200ul of GlutaMAX 100X + 2ml FBS + 200ul PS + 100 ng = 
split 10ug into 10 parts, each one has 1ug in 100ul of 0.1% BSA
100 ng aliquots
dissolve 10ug into 1ml of 0.1% BSA
divide that 1ml into 10 100ul aliquots and store at -20
each time we nee to make 20ml complete cell media, we need 10ul from one aliquot
we have 7.5% BSA in DPBS, dilute by factor of 75, total of 1ml = 14 ul BSA with 986 ul of DPBS = 1 ml of 0.1% BSA
1/12/22 Created stock collagenase solution (4mg/ml) in HBSS
Isolate DRGs into ice-cold HBSS
Add DRGs to dissociation solution
Incubate for 40 min
Add 50 ul 0.5% trypsin and incubate for 5 min
Triturate with fire-polished glass pasteur pipette until homogeneous
Pass solution through 70 um filter
Triple volume with DMEM/F-12 + 10% FBS
Centrifuge 10 min at 600g
Resuspend pellet in fresh complete medium
</pre>

{% endblock %}