{% extends 'base.html' %}

{% block content %}

<pre>
Create dissociation solution (2mg collagenase dissolved in 1ml HBSS)

Make complete cell medium - DMEM/F12 + GlutaMAX + 10% FBS + 1% PS + 5 ng/ml GDNF
10 ug total
5 ng/ml GDNF
20ml of complete medium
20ml DMEM/F12 + 200ul of GlutaMAX 100X + 2ml FBS + 200ul PS + 100 ng = 
split 10ug into 10 parts, each one has 1ug in 100ul of 0.1% BSA
100 ng aliquots
dissolve 10ug into 1ml of 0.1% BSA
divide that 1ml into 10 100ul aliquots and store at -20
each time we nee to make 20ml complete cell media, we need 10ul from one aliquot
we have 7.5% BSA in DPBS, dilute by factor of 75, total of 1ml = 14 ul BSA with 986 ul of DPBS = 1 ml of 0.1% BSA
1/12/22 Created stock collagenase solution (4mg/ml) in HBSS
Isolate DRGs into ice-cold HBSS
Add DRGs to dissociation solution
Incubate for 40 min
Add 50 ul 0.5% trypsin and incubate for 5 min
Triturate with fire-polished glass pasteur pipette until homogeneous
Pass solution through 70 um filter
Triple volume with DMEM/F-12 + 10% FBS
Centrifuge 10 min at 600g
Resuspend pellet in fresh complete medium
</pre>

{% endblock %}