{% extends 'base.html' %}

{% block content %}
<ol>
	<li>
Briefly, the spinal column was isolated
and hemisected, and the spinal cord was carefully removed to expose
the DRG. DRG were individually isolated from central/peripheral
roots and placed in ice-cold HBSS. DRG were transferred to dissociation solution, which consisted of collagenase (2 mg/ml) and DNase
(0.1 mg/ml) and incubated for 40 min at 37°C. After 40 min, trypsin
(0.025%) was added, and the solution was incubated for an additional
5 min at 37°C. The tissue was then triturated with a fire-polished glass
Pasteur pipette until the solution appeared homogeneous. The solution
was passed through a 70-m nylon filter, and the volume was tripled
by adding DMEM/F-12  10% fetal bovine serum to quench
trypsinization. The cells were collected by centrifugation (10 min at
600 g), and the resulting pellet was resuspended in fresh complete
medium. Five to ten microliters of medium containing an estimated
10,000 cells were seeded at the center of each MEA device or
glass-bottomed plate. The plates were incubated at 37°C and 10%
CO2 for 30 min to allow cells to adhere, and then each well was
carefully flooded with 600 l of fresh, preheated complete medium.
Cell cultures were maintained at 37°C, 10% CO2, and 95% humidity.
One hundred percent media exchanges were performed after the 1st
24 h and every alternate day afterward. After nonneuronal cells
reached 90% confluence (DIV 5–7), media were supplemented with
mitotic inhibitors uridine (17.5 g/ml) and 5-fluoro-2=-deoxyuridine
(7.5 g/ml).
Multiwell microelectrode array plate preparation. DRG cells were
cultured on 12-well MEA devices from Axion BioSystems (Atlanta,
GA) for electrophysiological recording as well as multiwell glassbottomed culture plates for immunocytochemical (ICC) characterization. The day before dissection, the center of each well of the MEA
devices was coated with polyethyleneimine (0.1%); glass-bottom
wells were coated with poly-D-lysine (50 g/ml). Plates were incubated at 37°C and 10% CO2 overnight. The following morning, plates
were rinsed three times with sterile double-deionized water and
allowed to dry. Ten microliters of laminin (20 g/ml) was added to
the center of each well and incubated at 37°C for 2 h. Laminin was
removed immediately before cell seeding	

{% endblock %}