{% extends 'base.html' %}

{% block content %}

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4863231/

<p>Transcriptome is the full range of mRNA produced by a particular cell or tissue type.</p>
<p>In addition to protein-coding mRNA, there is also non-coding RNA (ncRNA) including ribosomal RNA and transfer RNA involved in mRNA translation, small nuclear RNA (snRNA) involved in splicing, and small nucleolar RNA (snoRNA) involved in the modification of rRNA.</p>
<p>microRNA (miRNA) and piwi-interacting RNA (piRNA) both regulate gene expression at the posttranscriptional level. Long noncoding RNA (lncRNA) were discovered during large-scale sequencing of cDNA libraries and provide a myriad of molecular functions.</p>
<p>Initial gene expression studies relied on northern blot and quantitative polymerase chain reaction (qPCR), which is limited to measuring single transcripts.</p>
<p>Over last two decades, methods have enabled genome-wide quantification of gene expression, known as transcriptomics.</p>
<p>Eventually, there is development of RNA analysis through sequencing of complementary DNA (cDNA) called next-generation sequencing (NGS). This method, termed RNA-seq.</p>
<p>A typical RNA-seq experiment consists of isolating RNA, converting it to cDNA, preparing the sequencing library, and sequencing it on an NGS platform.</p>
<h4>RNA isolation</h4>
<p>Quality of RNA is typically measured using Agilent Bioanalyzer, which produces an RNA Integrity Number (RIN) between 1 and 10 with 10 being highest quality showing least degradation based on analysis of ratio of 28S to 18S ribosomal bands.</p>
{% endblock %}