{% extends 'base.html' %}

{% block content %}
<h1>Single cell sequencing</h1>
<p>Single cell sequencing examines the sequence information from individual cells with optimized next-generation sequencing (NGS) technology. NGS provides a higher resolution of cellular differences and a better understanding of the function of an individual cell in the context of its microenvironment. It can reveal cell-to-cell variability. The steps involves: isolation of a single cell, nucleic acid extraction and amplification, sequencing library preparation, sequencing and bioinformatic data analysis. The minimal amount of starting materials from a single cell makes degradation, sample loss and contamination exert pronounced effects on the quality of sequencing data. Due to the picogram level of the amount of nucleic acids used, heavy amplification is often needed resulting in uneven coverage, noise and inaccurate quantification.</p>
<p>In biology, a library is a collection of DNA fragments stored and propagated in a population of micro-organisms through the process of molecular cloning. A cDNA library represents a sample of the mRNA purified which has been converted back to a DNA template by reverse transcriptase.</p>
<p>Single-cell RNA sequencing (scRNA-seq) provides the expression profiles of individual cells and is considered the gold standard for defining cell states and phenotypes as of 2020. Although it is not possible to obtain complete information on every RNA expressed by each cell, due to the small amount of material available, patterns of gene expression can be identified through gene clustering analyses. 


https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4863231/

<p>Transcriptome is the full range of mRNA produced by a particular cell or tissue type.</p>
<p>In addition to protein-coding mRNA, there is also non-coding RNA (ncRNA) including ribosomal RNA and transfer RNA involved in mRNA translation, small nuclear RNA (snRNA) involved in splicing, and small nucleolar RNA (snoRNA) involved in the modification of rRNA.</p>
<p>microRNA (miRNA) and piwi-interacting RNA (piRNA) both regulate gene expression at the posttranscriptional level. Long noncoding RNA (lncRNA) were discovered during large-scale sequencing of cDNA libraries and provide a myriad of molecular functions.</p>
<p>Initial gene expression studies relied on northern blot and quantitative polymerase chain reaction (qPCR), which is limited to measuring single transcripts.</p>
<p>Over last two decades, methods have enabled genome-wide quantification of gene expression, known as transcriptomics.</p>
<p>Eventually, there is development of RNA analysis through sequencing of complementary DNA (cDNA) called next-generation sequencing (NGS). This method, termed RNA-seq.</p>
<p>A typical RNA-seq experiment consists of isolating RNA, converting it to cDNA, preparing the sequencing library, and sequencing it on an NGS platform.</p>
<h4>RNA isolation</h4>
<p>Quality of RNA is typically measured using Agilent Bioanalyzer, which produces an RNA Integrity Number (RIN) between 1 and 10 with 10 being highest quality showing least degradation based on analysis of ratio of 28S to 18S ribosomal bands.</p>
{% endblock %}