{% extends 'base.html' %}

{% block content %}

check CO2
refill incubator H2O, take out the incubator tray, spray with 70% ethanol and wipe, then fill to like 70% with sterile water
fill water bath: fill with DI water
fill ethanol/bleach, for 70% ethanol use a graduated cylinder, fill 70ml ethanol 200, 30ml DI water, DI water is obtained from the autoclave room
take out trash: close sharps container and place in biohazard bin, put frozen tissues in biohazard, put tag above the printer supplies (regulated waste), code for lock on first floor is 28-14-20, need card access
clean vacuum: take out the vacuum container flask (remove tube from filter), add bleach, empty, rinse with sterile water 3x, add bleach and water
autoclave: check 5ml, 1.5ml, 0.5ml centrifuge tubes, glass pasteur pipette containers, tools, for tools spray with 70% ethanol and dry

{% endblock %}