{% extends "base.html" %}

{% block content %}
<h3>Transgenic Mouse + Mouse Colony Management</h3>
<p>Plan</p>
<p>Questions</p>

<p>The current transgenic mouse we are working with is the Thy1-GCaMP6s4.3 (<a href="https://www.jax.org/strain/024275" target="_blank">https://www.jax.org/strain/024275</a>). Thy1, or CD90, is a T cell marker that is also expressed in neurons. GCaMP6s is an ultrasensitive detector of single neuronal actional potentials and has slow response kinetics. 

<p>Dana H, Chen TW, Hu A, et al. Thy1-GCaMP6 transgenic mice for neuronal population imaging in vivo. PLoS One. 2014;9(9):e108697. Published 2014 Sep 24. doi:10.1371/journal.pone.0108697</p>

<p>There is information regarding animal use at Washington University School of Medicine at <a href="https://research.wustl.edu/offices/dcm/" target="_blank">https://research.wustl.edu/offices/dcm/</a>.</p>
Access to facilities
Procedures
Facilities
Danforth
DCM
https://www.softmouse.net/logout.do
settonlab
Loriiscool1
wealth of information at DCM
are we using the right gcamp
how to get mouse colony information more shareable
guide for new members to get involved with animal handling
breeding scheme
breeding guide
animal housing limits
IACUC protocols
-number of each species


{% endblock %}