{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Optical recording reveals topological distribution of functionally classified colorectal afferent neurons in intact lumbosacral DRG</h3>
 Lega BC, <a href="https://hospitals.jefferson.edu/find-a-doctor/s/serruya-mijail-d.html" target="_blank">Serruya MD</a>, Zaghloul KA. Brain-machine interfaces: electrophysiological challenges and limitations. Crit Rev Biomed Eng. 2011;39(1):5-28. doi: 10.1615/critrevbiomedeng.v39.i1.20. PMID: 21488812. <a href="https://pubmed.ncbi.nlm.nih.gov/21488812/" target="_blank">View on PubMed</a>

<h4 style="margin-top:40px">Introduction</h4>
<p><b>

</div>


{% endblock %}