{% extends "base.html" %}

{% block content %}
<div class="row">

Electrical stimulation of excitable tissue: design of efficacious and safe protocols
Daniel R. Merrilla,∗, Marom Biksonb, John G.R. Jefferysc

<h4>Physical basis of the electrode/electrolyte interface</h4>
basis of deep brain stimulation, stimulation of muscles, peripheral nerves, sensory systems
metal electrode in a physiological medium such as ECF, an interface is formed
in the metal electrode, charge is carried by electrons
in the medium, the charge is carried by ions (sodium, potassium, chloride)

<h5>Capacitive/non-Faradaic charge transfer</h5>
simple electrical capacitor called double layer capacitor Cdl
when metal electrode is placed in an electrolyte, charge redistribution occurs as metal ions in the electrolyte combine with the electrode
this involves transient transfer of electrons between the two phases, resulting in plane of charge at the surface of the metal electrode, opposed by a plane of opposite charge ,as "counterions" in the electrolyte
</div>


{% endblock %}