{% extends "base.html" %}

{% block content %}

<style>
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
font-size: 24px;
font-weight: 700;
}
p {
font-size: 20px;
line-height: 1.6;
}
.image {
padding: 10px 0 35px 0;
font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.references li {
    scroll-margin-top: 100px;
}
</style>
<div class="row">

<h3>Explant</h3>

<p>We are following <a href="https://www.mdpi.com/2227-9059/8/3/49/htm">this protocol</a> for the DRG organ culture and this protocol for the DRG neuron isolation.</p>

<p>Put Matrigel into 4 C fridge the day before or four hours before experiment.</p>

<p>After taking out the DRG, place into a Petri dish with sterile, pre-chilled non-phenol red HBSS and transfer to hood. Wash.</p>

<p>Place DRG on coverglass and cover with 60 uL of Matrigel. Allow to polymerize.</p>

<p>Fill with warm RPMI with GlutaMax, Phenol Red with 1% P/S. Culture in incubator.</p>
</div>
{% endblock %}