{% extends "base.html" %}

{% block content %}

<style>
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
font-size: 24px;
font-weight: 700;
}
p {
font-size: 20px;
line-height: 1.6;
}
.image {
padding: 10px 0 35px 0;
font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.references li {
    scroll-margin-top: 100px;
}
</style>
<div class="row">

<h3>Calcium imaging</h3>

<p>After dissecting out the DRG, it is placed in aCSF.</p>

<p>It is brought over to Nikon Eclipse Ti2 in the Vahey lab (<a href="https://calendar.google.com/calendar/u/0/embed?src=2hr20jhh4iqr4g20dbh6s3lk10@group.calendar.google.com&ctz=America/Chicago">availability</a> and <a href="https://go.oncehub.com/vlabnikon">sign up</a>) To use the microscope, talk to Dr. Vahey, complete the hands-on training (Radhika), and make sure to remove files from the Vahey computer onto your own device.</p>

<p>To debug the electrical field stimulation and calcium imaging, I have ordered Calbryte 520 AM (<a href="https://www.aatbio.com/resources/protocols/protocol-for-loading-calbryte-520-am-into-live-cells">protocol</a>), a new fluorescent calcium indicator, and will test it with the WI26 human fibroblast immortal cell line.</p>

<p>I use PBS instead of HBSS.</p>

<p>I need to prepare 10% Pluronic F-127. To do this, dissolve 1g of Pluronic F-127 in 10ml of distilled water to make a 10% (w/v) stock solution. Heat it for about 30 minutes ranging from 40 to 50 C. Store at room temperature.</p>

<p>Mix 45.83 uL of anhydrous DMSO with 50 ug of Calbryte 520 AM to make a 1 mM stock solution.</p>
I used 8 ul already. So should have about 38 ul remaining frozen in freezer.

<p>Make a 2X working solution in HHBS with 10 uM Calbryte and 0.08% Pluronic F-127 by mixing 32 ul of Calbryte, 26 ul of 10% Pluronic, then adding buffer until volume is 3.2 ml.</p>

only need total of 200 ul for one coverslip, so 2 ul of calbryte, 2 ul of pluronic, 200 ul PBS
edit, can make 1/4 of what is listed... so 8 ul of calbryte, 6.5 ul of pluronic, and total volume of 0.8ml buffer

<p>Add 100 ul of the working solution to 100ul of culture medium. Incubate coverslips in the dye for about 60 minutes and then let sit for another 15 minutes at room temperature. Then remove the coverslip and put in 200ul of culture medium. Then you can image.</p>

<p>For most cell lines, Calbryte is recommended to be 2 to 5 uM. Well concentration of Pluronic F-127 is 0.04%.</p>

<p>Store the Calbryte 520 AM stock solution in tightly sealed vials at -20, dessicated and protected from light.</p>

<p>For the WI26 cells, last passaged 8/12/21, so I will set up a new 6-well plate. To this plate I will place 6 autoclaved coverslips. I will thaw 804G in the warm water bath, then apply enough to cover each coverslip. I will leave it on for 10 minutes, then remove it. I put about 1 ml of phenol-red free DMEM + 10% FBS + 1% P/S into each well. And then I will put cells from the passage onto each coverslip.</p>
i set up 6 wells of varying concentrations of cells, last passaged on 8/12/21, they are pretty much ready to use

on 8/12/21, I prepared 10% pluronic F-127. i added 1g of the chemical to 10ml of DI water, then used the warm room to slowly dissolve it. took like an hour. at this time, i was also autoclaving the coverslips. Made 1 mM stock solution of the calbryte which is sittin gin the -20 freezer.  I made 800 ul of working solution with 8 ul of calbryte, 6.5 ul of pluronic and 0.8 ml of PBS. i put my coverslip in a petri dish in the hood and then add 100 ul of working solution and 100 ul of DMEM without phenol red. Leave in incubator for 60 minutes and then sit at room temp for 15 min. Then move to another petri dish and put 200 ul of culture media (no dye). then i placed on a cover glass and put another coverslip on top. imaged on the Leica confocal. turn on computer and microscope. used 5x and then 10x to focus, first with brightfield, then with L5 fluorescence. make sure PMT thing is black/white. have 488 laser on. gain only needed like 400-500. 

today, 8/14/21
first, i will test if our microscope can image WI26 cells in the recording chamber
then, if it works, i will do another calbryte setup
i will make a 200 ul total working solution with 2 ul of calbryte stock, 2 ul of pluronic acid, and 0.2 ml of PBS

so i am testing whether we can use the EFS recording chamber on our microscope
i used three coverslips total (one just to see if it fits under microscope, two that i am adding calbryte right now)
i added 100 ul of calbryte 2x working solution per coverslip (prepared 200 at a time since might lose some)
i am disassembling the stage to see if i can get a better fit for the recording chamber
</div>
{% endblock %}