{% extends "base.html" %}

{% block content %}
<h3>Innovation</h3>
<p>The scientific innovation of this work includes:</p>

<ul>
	<li>Studies to define the pattern for DRG neuronal re-modeling in response to injury-induced IVD degeneration, and at multiple timepoints;</li>
	<li>Studies to reveal the pattern for changes in neuronal function with time from acute to chronic IVD degeneration, and involvement of a broad set of sodium and other ion channels in regulating this remodeling response with IVD degeneration.</li>
</ul>
<p>Our proposed work will utilize these methodological innovations:</p>
<ul>
	<li>In vivo imaging of lumbar DRGs following injury-induced IVD degeneration at acute and chronic timepoints, and defining relationships to in vivo awake animal behavior and sensitivity;</li>
	<li>Imaging of lumbar DRGs in organotypic culture to measure action potential generation, its dependence on sodium channels (Nav1.5 - Nav1.8) and its remodeling with LDP-induced IVD degeneration;</li>
	<li>Multi-modal longitudinal monitoring of pain-related behavior and sensitivity, DRG and IVD structural and molecular change on a subject-specific basis.</li>
</ul>
<p><u>Completion of these aims will reveal new knowledge about neuronal changes that contribute to pain transmission in the development of IVD degeneration.</u> This knowledge of in vivo “cross-talk” between DRG neurons and the IVD will be the first of its kind available, and has potential to identify novel targets for chronic disc-related pain.</p>

{% endblock %}