{% extends "base.html" %}

{% block content %}

<style>
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
font-size: 24px;
font-weight: 700;
}
p {
font-size: 20px;
line-height: 1.6;
}
.image {
padding: 10px 0 35px 0;
font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.references li {
    scroll-margin-top: 100px;
}
</style>
<div class="row">

<h3>Behavioral Compensations and Neuronal Remodeling in a Rodent Model of Chronic Intervertebral Disc Degeneration</h3>
<h4>Elizabeth M. Leimer, Matthew G. Gayoso, Liufang Jing, Simon Y. Tang, Munish C. Gupta & Lori A. Setton</h4>

<p>Liz did a surgical IVD disc degeneration, behavioral testing, DRG cell isolation and calcium imaging with Fura-2 AM (but not in the Setton lab space). She also did immunolabeling with PGP9.5 and TRPV1+.</p>



</div>
{% endblock %}