{% extends "base.html" %}

{% block content %}

<style>
h3 {
    font-size: 36px;
    font-weight: 700;
}
h4 {
font-size: 24px;
font-weight: 700;
}
p {
font-size: 20px;
line-height: 1.6;
}
.image {
padding: 10px 0 35px 0;
font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.references li {
    scroll-margin-top: 100px;
}
</style>
<div class="row">

<h3>Neuron Isolation</h3>

<p>We are following <a href="https://www.mdpi.com/2227-9059/8/3/49/htm">this protocol</a> for the DRG organ culture and <a href="https://www.jove.com/t/56757/adult-mouse-drg-explant-dissociated-cell-models-to-investigate">this protocol</a> for the DRG neuron isolation.</p>
<p>Clean and trim off excess fibers and connective tissue attached to DRGs with blade.</p>
<p>Put all DRGs in 1.5 ml sterile tube with 1.2 ml of F12 media containing 1.25 mg/ml collagenase IV and incubate for 45 min. Replace with fresh media/collagenase and incubate for another 45 min.</p>
1.2 ml * 1.25 mg/ml = 1.5 mg collagenase IV
0.75 mg collagenase IV
<p>Add 2 ml of F12 media containing 0.025% trypsin and incubate for 30 min.</p>
1.25ml of 0.04% trypsin, 0.75 ml of F12	
<p>Incubate with 2 ml of F12 media containing 33% FBS for 15 min.</p>
1.33 ml of F12, 0.66 ml of FBS
<p>Wash explants 3 times with 2 ml of F12 media and mechanically dissociate. We can use needles of varying sizes.</p><a href="https://reader.elsevier.com/reader/sd/pii/S266616672100040X?token=7CC60B1B78FA9B262FC004C82F1AA85025D4BFF6D679DF6A1FC7122C002792F7CA03377306659EAFE1BC50A5BB66F42B&originRegion=us-east-1&originCreation=20210813045841">another protocol</a>According to this protocol, take a 1ml syringe and triturate the DRG by aspirating and ejecting the DRGs in solution 7 times up and down for each needle size startign with an 18 gauge needle, followed by a 23 gauge, and 28 gauge needle.
<p>Filter the dissociated cells through a 0.22 um filter (I think this is a mistake and should be 70 ul cell strainer. We will try 70 ul, then may try 40 ul as well). Centrifuge the filtered cell lysate at (2,500 x g) for 2 min.</p> 
<p>Remove supernatant and resuspend cell pellet in 500 uL of neurobasal media with B27 supplement, antibiotic/mycotic, GlutaMAX, and NGF (5 ug/ml).</p>
we will make total 2 ml media, we need 20 ul of B27, 40ul of abx, 8ul of glutamax, whole bottle of 10ug NGF
for 500 ul media, we need 5 ul of B27, 10ul of abx
20 ml of B27 100x, so aliquot into 1 ml tubes
antibiotic is 10ml of 50x, so aliquot into 1 ml tubes
need 0.5 mM of glutamax, comes in 200 mM bottle, so need 400x dilution, which means needs like 2 ul of glutamax
then need 5 ug/ml of NGF, so need 2.5 ug of NGF
<p>Plate cells onto laminin-coated cover slides (50 ug/ml).</p>
</div>
{% endblock %}