1. Conceptual
	a. Our goal - measurement of neuronal hyperexcitability in dorsal root ganglion neurons in animal models of injury
1. MEA2100-Systems specifics
	a. Plates - 60 electrodes?, availability, cost, cleaning
	b. Stimulation generation - difficulties with pacing?
	c. Headstage, interface board, PC+software, temperature controller, perfusion setup - any additional parts we need to obtain?
	d. Technical support - can we get multichannel systems to come in to train?
	e. What complications did you experience when trying to use it?
	f. What information do you have about the Axion system? Are there other MEA systems at WashU? Groups building their own?
2. Paper questions
	a. What was the character of activity in the cultured neurons?
	b. PDA NPs may have induced depolarization?
	c. 14 days in vitro, formation of complete network?

Note: The choice of plating density is up to the investigator. The higher the density, the sooner activity will be
observed (as soon as 2-3 days in vitro), but the more often the culture will need to be fed. 5000 cells/mm2 is very
dense, and would require feeding about every 2 days, while 1000–3000 may only require feeding weekly or every
5 days. The best time for recording depends on the application: Many studies may be aimed at the development of
the cultures, and therefore require recording as soon as possible. For other applications, it may be better to keep
the cells longer in culture before starting the experiment. Cells are still developing, but the culture is more stable
after about one month in culture. The culture can be used for several months or years.