https://neuroengineering.bme.jhu.edu/

Our work currently is supported by:
NSF  – 1849417 (PI: Thakor, Co-PI: Kaliki) – 9/1/2018-8/31/2021
NRI: FND: Scalable, Customizable Sensory Solutions for Dexterous Robotic Hands

This project aims to enhance the sense of touch for robotic hands. The main goal is to develop prosthetic hands with a sense of touch. The touch sensor’s primary application is for upper limb amputees. The research team plans both fundamental research and its application.

NIH/NCI  – R01CA237597    Pathak (PI) – 4/1/2019-3/31/2024      
A Wireless Multi-function Microscope for Lifetime Imaging of the Brain Tumor Vasculome

The purpose of this project is to elucidate the role of these angiogenic and non-angiogenic pathways on brain tumor progression and necessitates the development of imaging tools that can characterize in vivo changes in the CNS vasculome over the entire lifetime of the disease.

OR190125 – Dept. of the Army/USAMRAA – 9/1/2020-8/31/2024
Neuromorphic Feedback: A Strategy to Enhance Prosthesis Embodiment and Performance

We propose to provide sensory perception to users of upper limb prosthetic devices, creating a sensorimotor closed loop between the prosthetic hand and the central nervous system. The projected results are 4 outcome measures for functional tasks executed in laboratory sessions and various measures associated with prosthesis usage and user experience in a home setting.

NIH/NINDS – 1R44NS108894-03 (Co-PI, Kaliki, PI) –  9/1/2018 – 8/31/2021
User-driven Retrospectively Supervised Classification Updating (RESCU) system for robust upper limb prosthesis control

In this project, we aim to empower the user by bringing them into the control loop of their prosthesis and improve the stability of their control strategy over time. This will result in improved control without cumbersome or time-consuming effort on the part of the user and, more importantly, we hope that it will give the user a greater sense of empowerment and ownership over their prosthesis.

Dept. of the Army/USAMRAA  DM190888 (co-PI, Kaliki, PI,) – 9/30/2020-9/29/2023
A Patient-Driven Augmented Reality-Based Rehabilitation System to Improve Upper Limb Amputee Outcomes

We propose to develop a suite of training modules based on activities of daily living and integrating these modules into an augmented reality environment, to create a system called MyoTrain AR. The proposed method will improve the patient’s ability to train and adapt to the prosthetic device before receiving it and the clinician’s ability to effectively counsel patients on the best clinical solution for them.

NIH/NHLBI  – 1R01HL139158-01A1 (PI: Thakor; Kannan, Co-PI) – 9/1/18 – 8/31/22
Translational Technologies for Ameliorating Brain Injury

In a model of cardiac arrest associated brain injury, we propose to determine the therapeutic effects of intranasal ORXA treatment on early neurophysiological recovery, cognitive and behavioural outcome following post-CA coma, and dendrimer nanotherapy using dendrimer conjugated to N-acetyl-Lcysteine (D-NAC) to reduce chronic neuro-inflammation, after resuscitation.

NIH/NHLBI  – 2R01HL071568-15 (Thakor, PI; Geocadin, Co-PI) – 7/1/2002 – 6/30/2023
Consequences of Cardiac Arrest: Brain Injury

The goal of this project is to study the effects of brain injury after cardiac arrest. The central hypothesis is that autoregulation is impaired, and this injury and recovery is studied using EEG/electrophysiology, magnetic resonance perfusion, and behavior, and treatment is provided by stimulation, ultrasound and pharmacology.

NIH/NINDS  – 1UH3NS114439-01 (PI: NE Crone, Co-I: NV Thakor) 12/01/2019 – 11/30/2024
Investigation of the Cortical Communication (CORTICOM) System

This early feasibility clinical trial will test the safety and efficacy of an implantable ECoG BCI to restore communication to patients with Locked-In Syndrome.

Johns Hopkins Discovery Grant (with S. Tuffaha)
The Neural Port

Demonstrate long-term, stable, and accurate control of a virtual prosthesis with utilization of 4 degrees of freedom (DOF).

Johns Hopkins Blaustein Grant (with S. Tuffaha)
Muscle-Based Neuromodulation for Pain Control

Johns Hopkins Blaustein Grant (with T. Doshi)
Neurodiagnostic Biomarkers of Central Sensitization in Chronic Pain

Pending:
NIH/NIBIB  – 5T32EB003383 (PI; Thakor, Co-PI)  
Neuroengineering Training Grant

This is a training grant supporting predoctoral students from Johns Hopkins in department of Biomedical Engineering, Electrical Engineering, Neuroscience, etc. and provide research and training support.

NIH/NINDS – 1U44NS119842-01 (Co-PI, Kaliki PI)  11/1/2020-10/31/2025
Regulatory clearance of a rehabilitation system for individuals with upper limb loss

We have identified three ways in which we could deepen our clinical impact, particularly as related to the MyoTrain rehabilitation system. We will improve EMG classification accuracy by decreasing intra-class scatter (improving repeatability) and/or increasing inter-class separation (improving separability). We will carry out long-term outcome studies in the field of myoelectric prostheses.

NIH/STTR (PI C Glass; Co-PI)
Neural Port for Chronic Pain Treatment

For STTR Phase I, we propose direct-Vascularized Denervated Muscle Targets (VDMT) stimulation as a viable method of blocking the sensory afferent pain signals (thought to be a significant source of chronic pain) in a rodent model.