https://thinkhumm.com/

The first wearable to directly improve your mental performance
Scientifically Proven
Measurable (+~20%) improvement against placebo in clinical research studies.

Works Immediately. Lasts for Hours.
Humm starts working quickly and provides a period of extended enhanced working memory.

Easy to Apply, Remove, and Carry.
Use at home or take a few patches to work or while you travel.

Flexible, Light, Comfortable.
Gentle on your skin and comfortable in any weather.

Affordable and Convenient.
Semi-reusable patches that are fresh every time for the price of a cup of coffee.