https://www.kernel.com/

Kernel Flow is a non-invasive brain interface which records real-time, cortical hemodynamics to establish precise patterns of brain activity. Our whole head coverage brain interface connects easily via USB-C and features:

Kernel Flux is a turnkey magnetoencephalography (MEG) platform based on optically-pumped magnetometers (OPMs), which provides real-time access to the intricate brain activity underlying functions such as arousal, emotion, attention, memory, and learning.