https://www.medtronic.com/us-en/healthcare-professionals/products/neurological.html

Access & Delivery Products
Acute Ischemic Stroke Products
Brain Arteriovenous Malformations Embolization Products
Cranial Repair Products
Cranial Robotics
Critical Care Products
Deep Brain Stimulation Systems
Drug Infusion Systems for Chronic Pain
Drug Infusion Systems for Severe Spasticity
Hemorrhagic Stroke & Brain Aneurysm Products
Infection Control Products
Intraoperative Neuromonitoring Systems
Intrathecal Baclofen Therapy Systems
Laser Ablation Technology
Powered Surgical Instruments
Radiofrequency Ablation Products for Nerve Tissue
Shunts
Spinal Cord Neurostimulation Systems
Spine Robotics
Surgical Imaging Systems
Surgical Navigation Systems