<table class="table table-hover">
	<tr>
		{% if interview.date %}On <b>{{ interview.date.strftime('%m/%d/%Y') }}, {% endif %}{{ interview.get_program().name }}</b> offered the following dates to sign up for an interview: <br/>{% for interview_date in interview.dates %}
			{% if interview_date.full %}
		<span class="btn btn-danger btn-sm">{{ interview_date.date.strftime('%m/%d/%y') }}</span> 
			{% else %}
			<span class="btn btn-success btn-sm">{{ interview_date.date.strftime('%m/%d/%y') }}</span> 
			{% endif %}

		{% endfor %}
		{% if interview.interviewee == current_user %}
		<form action="{{ url_for('main.delete_interview', interview_id=interview.id)}}" method="post">
			{{ form.hidden_tag() }}
			{{ form.submit(value=_('Delete'), class_='btn btn-default btn-sm')}}
		</form>
		{% endif %}
	</tr>
</table>