{% extends "base.html" %}

{% block page_head %}About{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
      <img src="{{ url_for('static', filename='img/orangeprofile.jpg') }}" style="width:100%;border-radius: 50%">
			</div>
    </div>
      <div class="row">
        <div class="col-md-12">
      <p>Hello! My name is Frank. This website is a central hub for my projects in neuroengineering. Feel free to reach out to me via email or LinkedIn.</p>
    </div>
		</div>
	</div>
</div>
{% endblock %}