{% extends "base.html" %}

{% block page_head %}About{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					{{ render_form(form) }}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<p>Hello it's Wavegate!</p> 
<p>The goal of the site is to create a stable version of the <a href="https://www.reddit.com/r/medicalschool/comments/cr7pcp/residency_20192020_interview_spreadsheets_so_far/" target="_data">/r/medicalschool residency spreadsheets</a>. A problem with the currrent system is that they are created and managed by individual users which often results in trolling or misplaced information. By centralizing all the data, it will be easier for users to organize the information, and will also make transitions from one year to the next easier since there won't be a need to find new spreadsheet moderators every year.</p>
<p>The application is currently still being constructed, but some of the basic functionality is there. Users are able to navigate and find their program, add data when they get an invite, and keep track of their programs. The current site has some previous data from the 2020-2021 psychiatry application cycle, but I will add the other years and specialties shortly. </p>
<p>Updates that I plan to incorporate include authenticating users and moderation (to reduce random people adding data), increasing security, giving ways to import and export data, etc.</p>
<p>Please let me know if you have any suggestions! Anything is possible! Things like... additional info about programs, a personal rank list, a way to compare multiple programs, changes to the user interface, etc... Let me know! The sky's the limit! Thanks!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					Resources
				</div>
				<div class="card-body">
					<ul>
						<li><a href="https://www.reddit.com/r/medicalschool/" target="_blank">/r/medicalschool</a></li>
					</ul>
					<ul>
						<li><a href="https://www.creative-tim.com/product/paper-dashboard" target="_blank">Paper Dashboard Admin Template by Creative Tim</a></li>
					</ul>
					<ul>
						<li><a href="https://uicookies.com" target="_blank">Landing Page by uicookies.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					To-do list
				</div>
				<div class="card-body">
					<ul>
						<li>Finish importing previous years' data</li>
						<li>Subreddit test drive</li>
						<li>Improve messaging system</li>
						<li>User .edu email verification</li>
						<li>Improve settings (import, export, etc.)</li>
						<li>Google/facebook/linkedin/twitter/etc integration</li>
						<li>Details about programs</li>
						<li>Rank list</li>
						<li>Spots available per specialty</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}