{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Add Interview Invite for {{ program.name }} ({{ program.specialty.name }})</h5>
            </div>
            <div class="card-body ">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.date.label(class_="col-form-label") }}<br>
                        {{ form.date(class_="form-control datepick") }}
                        {% for error in form.date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                {{ form.supplemental_required(class_="custom-control-input") }} 
                                {{ form.supplemental_required.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.method.label(class_="col-form-label") }}<br>
                            {{ form.method(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.interview_dates(class_="form-control", placeholder="Click to add AVAILABLE dates")}}
                            <label for="mdp" class_="col-form-label">What dates were available?</label>
                            {% for error in form.interview_dates.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.interview_invites(class_="form-control", placeholder="Click to add FULL dates")}}
                            <label for="mdp" class_="col-form-label">What dates were full?</label>
                            {% for error in form.interview_invites.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <p>{{ form.submit(class_="btn btn-primary btn-md") }}</p>
                    </div>
                </form>
            </div>
    </div>
</div>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.multidatespicker.css') }}">
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.multidatespicker.js') }}"></script>
<script>
 $(document).ready(function () {
  $('#interview_dates').multiDatesPicker();
  $('#interview_invites').multiDatesPicker();
});
</script>
{% endblock %}