{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Brain-Machine Interfaces: Electrophysiological Challenges and Limitations</h3>
 Lega BC, Serruya MD, Zaghloul KA. Brain-machine interfaces: electrophysiological challenges and limitations. Crit Rev Biomed Eng. 2011;39(1):5-28. doi: 10.1615/critrevbiomedeng.v39.i1.20. PMID: 21488812. <a href="https://pubmed.ncbi.nlm.nih.gov/21488812/" target="_blank">View on PubMed</a>

<h4 style="margin-top:40px">Introduction</h4>
<p>Brain-machine interfaces (BMI) is the general principle which guides the development of devices that can diagnose and treat neurological disorders, based on the past century of neuroscience research, which has demonstrated that neural function can be recorded, computationally modeled, and ultimately manipulated.</p>
<h4>The First Generation</h4>
<p><a href="{{ url_for('main.penfield') }}">Penfield</a> first used electrical stimulation of the brain.</p>
<p>Cardiac pacemakers and implantable cardiac defibrillators serve as a precedent for neurological analogs.</p>
<h4>Key Challenges to Overcome</h4>
<ul>
	<li>Multiple overlapping areas of the brain for sensory and motor systems, let alone higher-level functions.</li>
	<li>Long-term recording stability in an <i>in vivo</i> environment.</li>
	<li>Optimizing surgical implantation to decrease tissue damage and consequent inflammation.</li>
	<li>Stimulating in a way that optimally manipulates neural activity in a controlled and predictable manner.</li>
</ul>
<h4>Deep Brain Stimulation</h4>
<p>Deep brain stimulation (DBS) is a neurosurgical procedure in which a neurostimulator sends electrical impulses through implanted electrodes to specific targets in the brain to treat movement disorders, including Parkinson's disease (PD), essential tremor (ET), and dystonia. It has been approved by the FDA for ET and PD since 1997, approved for dystonia in 2003, for obsessive-compulsive disorder (OCD) in 2009, and epilepsy in 2018. It has been used to treat over 80,000 people worldwide and has a low side-effect profile. The most common complications, which are usually related to wound infection, skin erosion, or wire breakage, occur at around 4% per electrode over its lifespan of sometimes greater than 20 years. Current routine targets for intervention now include the ventral intermediate nucleus of the thalamus, globus pallidus, and the mainstay of therapy, the subthalamic nucleus.</p>
<p>Unfortunately, the precise mechanism of DBS is poorly defined. Initially, it seemed that electrical stimulation was like reversible lesioning.  This has brought up many questions about the effects of stimulation on brain tissue. Identifying optimal stimulation parameters is difficult because there are so many different possible combinations of voltage, current, pulse width, and waveform. Based on animal studies, a limit of 30 microCoulomb/cm of charge density is safe. Standard Medtronic DBS electrode contacts have a surface area of 0.06 cm with an impedance of 500 Ohms. Stimulation is normally undertaken at a voltage of 1-3.5 V and a frequency greater than 50 Hz. A setting of 130 Hz is common, achieving an average battery life of 5 years with typical current amplitude of 3 mA.
<h4>Four Hypotheses for Brain Stimulation</h4>
<h4>Motor Prosthetics</h4>
<h4>Visual Prosthetics</h4>
<h4>Cortical Stimulation</h4>



</div>


{% endblock %}