{% extends "base.html" %}

{% block content %}

<style>
	h4 {
		margin-top:40px;
		margin-bottom:5px;
	}
</style>
<div class="row">
  
 <h3>Brain-Machine Interfaces: Electrophysiological Challenges and Limitations</h3>
 Lega BC, Serruya MD, Zaghloul KA. Brain-machine interfaces: electrophysiological challenges and limitations. Crit Rev Biomed Eng. 2011;39(1):5-28. doi: 10.1615/critrevbiomedeng.v39.i1.20. PMID: 21488812. <a href="https://pubmed.ncbi.nlm.nih.gov/21488812/" target="_blank">View on PubMed</a>

<h4 style="margin-top:40px">Lessons Learned from the 1st Generation</h4>
<p>Penfield first used electrical stimulation of the brain.</p>
<p>Cardiac pacemakers and implantable cardiac defibrillators serve as a precedent for neurological analogs.</p>
<h4>Key Problems</h4>
<p>Sensory and motor systems, let alone higher-level functions, involve multiple overlapping areas of the brain that coordinate activity together in a complex manner.</p>
<h4>Four Hypotheses for Brain Stimulation</h4>
<h4>Motor Prosthetics</h4>
<h4>Visual Prosthetics</h4>
<h4>Cortical Stimulation</h4>



</div>


{% endblock %}