{% extends "base.html" %}


{% block content %}

<ul>
  <li><a href="{{ url_for('main.methodlist', name='MEAs') }}">MEAs</a></li>
  <li><a href="{{ url_for('main.methodlist', name='MEA_Black_2018') }}">DRG on Axion MEA Plate Preparation (Black 2018)</a></li>
  <li><a href="{{ url_for('main.methodlist', name='LDP_surgery_assist') }}">Mouse lumbar disc puncture surgery assist with Dr. Gupta</a></li>
  <li><a href="{{ url_for('main.methodlist', name='MEAs') }}">DRG culture</a></li>
  <li><a href="{{ url_for('main.methodlist', name='DRG_isolation') }}">DRG Isolation</a></li>
  <li><a href="{{ url_for('main.methodlist', name='PBS') }}">PBS</a></li>
  <li><a href="{{ url_for('main.methodlist', name='RNA_seq') }}">RNA Sequencing</a></li>
  <li><a href="{{ url_for('main.methodlist', name='makerspace') }}">WUSTL Makerspace</a></li>
</ul>

{% endblock %}
