{% extends 'base.html' %}

{% block content %}
Sign up for the blow-out hood for 3 hr at least a day before the experiment

Get mice, put into a cage with food and water in the chemical hood

Prepare dissecting area:
Cover the bench with blue diaper, get some paper towel
Add70% alcohol into a spray bottle
Place a red bag into a 1L beaker for carcass

Submerge the 'business end' of the dissecting tools into 70% alcohol for 15-20 min
A big scissor for decapitation
Two scalpel holders
one for incision of the skin and skull
one for dissecting thet trigeminal ganglia
One big forcep and one spatula for removing the brain
One small forcep for picking up the trigeminal ganglia
Two no. 3 forceps for fine dissection
One round-edged knife for cutting the trigeminal ganglia
Spray the surface of the blow-out hood with 70% alcohol, wipe dry, turn on the hood
Air dry the tools in the blow-out hood

Matrigel-coating the coverslips
Flame-sterilize forceps before picking up autoclaved coverslips
Coat each coverslip (in 24-well plate) with 100 microliter matrigel solution
Put the plate in the incubator for 1-3 hours, be careful not to disturb the plate

Prepare dishes for tissue dissection
Get a bucket of ice, chill a 150 mm dish
Add 20% FetalPlex solution into several 35 mm dishes in the culture hood
Place the dish into the chilled 150 mm dish
(if dissecting many ganglia, use 20% FBS instead)

Prepare pipettes for tissue dissociation:
In the culture hood, flame two sterile plugged glass pipettes to reduce the size of the tip apertures to approximately 0.5-0.7mm and 0.3-0.5 mm, keep them in the culture hood
Keep the flame-sterilized forceps in the culture hood

Prepare solutions for tissue culture
Get a bucket of ice and place 1 tube of the following solutions in ice
20% FetalPlex
HBSS
Plating medium

Thaw 1 aliquot of
15% BSA (1.5 ml in 15 ml tube)
DNase (50 microliters in centrifuge tube)
NGF
GDNF
100x antibiotics
Mix well and place them in ice, take the bucket into culture room

Thaw 1 aliquot of 10 mg/ml collagenase IV (0.5 ml in centrifuge tube) and place it at RT or 37 degrees Celsius in the culture room

Trypsin solution:
weigh out 10 mg of trypsin type XI powder (-20 degrees celsius freezer)
place in a 15 ml tube, add 2 ml of digestion buffer (kept at 4 degrees Celsius)
wait 5-10 min for trypsin to dissolve
in the culture hood, add 20 microliters DNase, mix well,
syringe filter the solution into a new 15 ml tube, keep the solution at RT

Dissociation solution: in the culture hood, add 2 ml of HBSS in 15 ml tube, 
add 20 microliters DNase, mix well, place in ice

Plating media:
add the amount of plating media needed (0.6 ml/well) into a 15 ml tube
add 10 ul of NGF, GDNF and antibiotic solutions to 1 ml of plating media
mix well and filter syringe filter the solution into a new 15 ml tube, keep in ice

Removal of trigeminal ganglia from P15~adult mice:
{% endblock %}