{% extends "base.html" %}


{% block content %}

<ul>
  <li><a href="{{ url_for('main.read', name='derami2021') }}">Reversible Photothermal Modulation of Electrical Activity
      of Excitable Cells using Polydopamine Nanoparticles (Derami 2021)</a></li>
  <li><a href="{{ url_for('main.read', name='111_abstract') }}">ORS Abstracts</a></li>
  <li><a href="{{ url_for('main.read', name='berke2021') }}">Electric Field Stimulation for the Functional Assessment of
      Isolated Dorsal Root Ganglion Neuron Excitability (Berke 2021)</a></li>
  <li><a href="{{ url_for('main.read', name='nam2011') }}">In vitro microelectrode array technology and neural
      recordings (Nam 2011)</a></li>
  <li><a href="{{ url_for('main.read', name='atmaramani2020') }}">Adaptation of robust Z' factor for assay quality
      assessment in microelectrode array based screening using adult dorsal root ganglion neurons (Atmaramani 2020)</a>
  </li>
  <li><a href="{{ url_for('main.read', name='black2018') }}">Adult mouse sensory neurons on microelectrode arrays
      exhibit increased spontaneous and stimulus-evoked activity in the presence of interleukin-6 (Black 2018)</a></li>
  <li><a href="{{ url_for('main.read', name='black2018review') }}">Black 2018 review</a></li>
  <li><a href="{{ url_for('main.read', name='koppes2011') }}">Neurite outgrowth is significantly increased by the
      simultaneous presentation of Schwann cells and moderate exogenous electric fields (Koppes 2011)</a></li>
  <li><a href="{{ url_for('main.read', name='koppes2013') }}">Electrical stimulation of Schwann cells promotes sustained
      increases in neurite outgrowth (Koppes 2013)</a></li>
  <li><a href="{{ url_for('main.read', name='pedrotty2005') }}">Engineering skeletal myoblasts: roles of
      three-dimensional culture and electrical stimulation (Pedrotty 2005)</a></li>
  <li><a href="{{ url_for('main.read', name='hudak2017') }}">Electron transfer processes occurring on platinum neural
      stimulating electrodes: calculated charge-storage capacities are inaccessible during applied stimulation (Hudak
      2017)</a></li>
  <li><a href="{{ url_for('main.read', name='jia2016') }}">Visualization of Electrical Field of Electrode Using
      Voltage-Controlled Fluorescence Release (Jia 2016)</a></li>
  <li><a href="{{ url_for('main.read', name='hu2015') }}">Direct Conversion of Normal and Alzheimer’s Disease Human
      Fibroblasts into Neuronal Cells by Small Molecules (Hu 2015)</a></li>
  <li><a href="{{ url_for('main.read', name='lee_nerve_dieback_abstract') }}">Screening for Nerve Dieback Compounds in a
      DRG Explant 3D Hydrogel Culture</a></li>
  <li><a href="{{ url_for('main.read', name='chitosan') }}">Matrilin-2 and Lysine Enhanced Chitosan Scaffold within a
      Type 1 Collagen Conduit Promotes Peripheral Nerve Regeneration and Motor Function Return following a Segmental
      Nerve Defect in a Rat Model</a></li>
  <li><a href="{{ url_for('main.read', name='sanes2010') }}">Design principles of insect and vertebrate visual
      systems</a></li>
</ul>

{% endblock %}