{% extends "base.html" %}


{% block content %}

<ul>
  <li><a href="{{ url_for('main.read', name='berke2021') }}">Electric Field Stimulation for the Functional Assessment of Isolated Dorsal Root Ganglion Neuron Excitability (Berke 2021)</a></li>
  <li><a href="{{ url_for('main.read', name='atmaramani2020') }}">Adaptation of robust Z' factor for assay quality assessment in microelectrode array based screening using adult dorsal root ganglion neurons (Atmaramani 2020)</a></li>
  <li><a href="{{ url_for('main.read', name='black2018') }}">Adult mouse sensory neurons on microelectrode arrays exhibit increased spontaneous and stimulus-evoked activity in the presence of interleukin-6 (Black 2018)</a></li>
  <li><a href="{{ url_for('main.read', name='koppes2011') }}">Neurite outgrowth is significantly increased by the simultaneous presentation of Schwann cells and moderate exogenous electric fields (Koppes 2011)</a>
  </li>
  <li><a href="{{ url_for('main.read', name='koppes2013') }}">Electrical stimulation of Schwann cells promotes sustained increases in neurite outgrowth (Koppes 2013)</a>
  </li>
  <li><a href="{{ url_for('main.read', name='pedrotty2005') }}">Engineering skeletal myoblasts: roles of three-dimensional culture and electrical stimulation (Pedrotty 2005)</a>
  </li>
</ul>

{% endblock %}
