{% extends "base.html" %}

{% block page_head %}{% endblock %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>/r/medicalschool residency spreadsheets, all in one place</h3>
                    <p class="lead">dasf</p>
                </div>
                <div class="card-body">
                    To get started, select your specialty:
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}