{% extends "base.html" %}
{% block title %}
Study - {% endblock %}
{% block blurred %}
</style>
<div class="blurred-container">
	<div class="img-src" style="background-image: url({{ url_for('static', filename='img/pixabay2.jpg') }})"></div>
	<div class="motto">
		Study
	</div>
	<div class="tag">Photo by Pixabay from Pexels</div>
</div>
{% endblock %}

{% block content %}

<style>
	h4 {
		margin-top: 40px;
		margin-bottom: 5px;
	}

	.tag {
		position: relative;
		top: 90%;
		left: 85%;
		color: white;
	}

	.text {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		color: white;
		z-index: 1;
	}

	.case-study {
		position: relative;
		display: block;
		width: 250px;
		height: 250px;
		margin: 0 auto 2rem;
		background-size: cover;
		border-radius: 10px;
		box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
		overflow: hidden;
		transition: all .4s ease;
	}

	.overlay2 {
		transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-moz-transition: opacity 0.5s ease;
	}

	.overlay1,
	.overlay2 {
		max-width: 250px;
	}

	.overlay2 {
		position: relative;

	}

	.overlay2:after {
		content: '\A';
		position: absolute;
		width: 250px;
		height: 250px;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.6);
		opacity: 1;
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		z-index: 0;
	}

	.overlay2:hover:after {
		opacity: 0;
	}

	@media screen and (min-width: 37.5em) {
		.case-study {
			height: 250px;
		}
	}

	@media screen and (min-width: 45em) {
		.case-study {
			display: inline-block;
			width: 45%;
			margin-left: 25px;
		}
	}

	.case-study__img {
		width: 90%;
		display: block;
		margin-top: 50%;
		transform: translateY(50%);
		margin: 0 auto;
	}

	.case-study__overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 10;
	}

	.case-study__overlay:after {
		content: '';
		width: 100%;
		border-radius: 10px;
		height: 100%;
		background-color: #202020;
		opacity: 0;
		position: absolute;
		top: 0;
		z-index: -10;
		left: 0;
		transition: all .3s ease;
	}

	.case-study__title {
		position: relative;
		top: -200px;
		margin-bottom: 2rem;
		margin-top: 4rem;
		font-size: 2.25rem;
		font-family: 'Oswald';
		font-weight: 100;
		color: white;
		text-align: center;
		letter-spacing: 5px;
		transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
	}

	.case-study__link {
		position: relative;
		display: block;
		width: 60%;
		top: 200px;
		padding: 10px;
		margin: 0 auto;
		color: white;
		letter-spacing: 3px;
		text-decoration: none;
		text-align: center;
		border: 2px solid white;
		border-radius: 3px;
		font-size: 1.25em;
		transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
	}

	.case-study__link:hover {
		background-color: white;
		color: #202020;
	}

	.case-study:hover .case-study__title {
		top: 0;
	}

	.case-study:hover .case-study__link {
		top: 0;
	}

	.case-study:hover .case-study__overlay:after {
		opacity: .75;
	}
</style>

<div class="row">
	<a href="{{ url_for('main.learn', subject='mathematics', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/spiral.jpg')}})">
			<div class="text">
				<h3>Mathemathics</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='physics', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/light.jpg')}})">
			<div class="text">
				<h3>Physics</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='chemistry', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/antonio.jpg')}})">
			<div class="text">
				<h3>Chemistry</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='biology', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/singkham.jpg')}})">
			<div class="text">
				<h3>Biology</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='psychology', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url('https://neuralhuborg.s3.amazonaws.com/img/gorilla.jpg')">
			<div class="text">
				<h3>Psychology</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='neuroscience', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/mart.jpg')}})">
			<div class="text">
				<h3>Neuroscience</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='electrical_engineering', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/sergei.jpg')}})">
			<div class="text">
				<h3>Electrical engineering</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='mechanical_engineering', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/mechanics.jpg')}})">
			<div class="text">
				<h3>Mechanical engineering</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='biomedical_engineering', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url('https://neuralhuborg.s3.amazonaws.com/img/hand.jpg')">
			<div class="text">
				<h3>Biomedical engineering</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='computer_science', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/cs.jpg')}})">
			<div class="text">
				<h3>Computer science</h3>
			</div>
		</div>
	</a>
	<a href="{{ url_for('main.learn', subject='medicine', chapter='index') }}">
		<div class="case-study study1 overlay2"
			style="background-image: url({{ url_for('static', filename='img/dids.jpg')}})">
			<div class="text">
				<h3>Medicine</h3>
			</div>
		</div>
	</a>
</div>
<div class="row">
	<li><a href="{{ url_for('main.learn', subject='biology', chapter='index') }}">Biology</a>: the study of life.
		Fundamental biology involves cells, genetics, evolution, diversity, plant/animal form and function, and ecology.
		Important aspects for medical related professions include animal anatomy and physiology, whereas other areas of
		labwork may involve cells and genetics. Although the endgoal of neural engineering is knowing how to interact
		with human brains, there is a ton we can learn from the biology of other animals.</li>
	<li><a href="{{ url_for('main.learn', subject='chemistry', chapter='index') }}">Chemistry</a>: the intersection
		between physics and biology. Studies elementary particles, atoms, molecules, substances, metals, crystals, and
		in general, aggregates of matter. Truly the holding force that keeps everything together.</li>
	<li><a href="{{ url_for('main.learn', subject='computer_science', chapter='index') }}">Computer science</a>:
		algorithms and data structures. Determining what can and cannot be automated, or computed.</li>
	<li><a href="{{ url_for('main.learn', subject='electrical_engineering', chapter='index') }}">Electrical
			engineering</a></li>
	<li><a href="{{ url_for('main.learn', subject='information_technology', chapter='index') }}">Information
			Technology</a>
	</li>
	<li><a href="{{ url_for('main.learn', subject='mathematics', chapter='index') }}">Mathematics</a>: mathematics
		involves the studies of numbers (arithmetic and number theory), symbols (algebra), shapes and spaces (geometry),
		and quantities and how those quantities change (calculus and analysis). It also involves probability (likelihood
		of events). Related is statistics/data science, which involves the organization of data, and game theory, the
		study of strategy among rational agents, which have been developed directly for application. Pure mathematics is
		developed independently of any application but are likely to have applications later (eg. integer
		factorization's use in RSA cryptosystem). It is important to be able to grasp the abstract, theoretical
		possibilities to allow for an open-minded imagination. A fundamental understanding of math is instrumental to
		tackling general world problems. In addition, computational neuroscience is the field of applying mathematical
		tools to investigate brain function. Mathematics, electrical engineering, computer science, physics</li>
	<li><a href="{{ url_for('main.learn', subject='mechanical_engineering', chapter='index') }}">Mechanical
			Engineering</a>: combination of engineering physics and mathematics with materials science to create
		mechanical systems.</li>
	<li><a href="{{ url_for('main.learn', subject='medicine', chapter='index') }}">Medicine</a></li>
	<li><a href="{{ url_for('main.learn', subject='neuroscience', chapter='index') }}">Neuroscience</a>: unfortunately
		for us, a high level field of study that requires a massive amount of interdisciplinary knowledge. Uses a bit of
		everything, because no one really knows how to study it. But that leaves a lot of space for great thinkers in
		the future. Can be split into the cellular/molecular level, circuit/systems level, cognitive/behavioral level,
		and computational. Because our minds operate out of our brain, everything we think about can be related to
		neuroscience in some way. Hopefully someday will be viewed as a fundamental field of study once we know more
		about it.</li>
	<li><a href="{{ url_for('main.learn', subject='physics', chapter='index') }}">Physics</a>: the fundamental science
		studying the behavior of the universe. Broad fields include nuclear, atomic, molecular, optical, condensed
		matter, astrophysics, and applied physics. Similar to math, is a cornerstone to the polymath. In fact, the
		internet, was intended for use by physicists. If you want to understand how an MRI works, you're going to need
		to know some physics.</li>
	<h3>Study</h3>
	<p>It is not required, nor possible, to study and remember the entirety of human knowledge to live a fulfilling
		life. However, in order to tackle problems that have stumped most people, it is necessary to always have a
		thirst for new ways of thinking. In our lives we will have crises, but when those happen, they are calls for us
		to start all over again. Do not be too attached to what we know, but preserve your hope for what we can know
		tomorrow.</p>
	<p>It is sometimes difficult to maintain motivation during studying. This happens when there is not a strong goal in
		mind. Studying should be fun and enjoyable. The goal in studying should be the pursuit of knowledge itself. Do
		not chase success; chase excellence and success will come chasing after you. For example, if your goal is money,
		there are plenty of people who will pay you to help them with their problems with just a quick study of one or a
		few combinations of the topics below. If you study one topic, you can work as a teacher... people will pay for a
		tutor to help them. But in every study topic, there are practice problems, and when there is a problem, then
		there is someone looking for a solution. The harder the problem, the more difficulty other people will have, and
		the more money they will spend to have someone resolve it. Remember... if we are to someday have a firm grasp of
		the brain, and to be able to interact with it and modulate it in a more direct way... money is no longer an
		issue. At that point you are dealing with a degree of power on par of that of a god. With the word "god"
		mentioned, we have to recognize that there is a lot of ethics involved with trying to question our own minds. As
		of 2021, there are groups of researchers who have come close to reviving parts of the brain of dead animals, and
		they were able to see organ-wide electrical activity course through the brain. At this point, they shut all
		their operations down and awaited international consensus before continuing their work. In addition, when
		working with living tissues, you are dealing with living things. There are many belief systems which encourage
		not to play with life itself. Lots of areas of neuroscience research work with animals from mice to monkeys to
		humans themselves. In these cases, you may be expected to hurt, damage, and even kill living creatures. You must
		decide for yourself how you want to approach the study of the brain. You can engineer ways to interact with the
		brain without damaging creatures, but there are limitations in doing so. So ethics is a huge aspect.</p>
	<p>One question might have is... what is the most important to learn first? Not everyone has time to learn
		everything. I think the first step should be foundation, which involves elementary mathematics, and familiarity
		with basic communication tools... English language, but also familiarizing with using computers, the internet,
		etc. Knowing how to Google answers, and also knowing how to type efficiently. With these basic tools, you can do
		everything else. With these basic functions, you can work entry-level data entry, and use any extra time you
		have to continue your education. In essence, data entry is the fundamental workhorse of neural engineering. From
		your brain to your computer, you are the worker. The goal of the future is figuring out how to make that work
		easier. So as you study more, the easier your data entry work will be, and more you will be able to expand to
		bigger problems and higher income. With a data entry level of income (~minimum wage), your quality of life will
		not be amazing. But it's better than probably 90% of the rest of the world.</p>
	<p>From a quick glance, I surmise that the best foundational pathway towards neural engineering is, from low-level
		to high-level: mathematics > physics > electrical engineering. This is because most methods to
		studying the nervous system currently are electromagnetic and optical. Working with data involves computer
		science. The reason I don't include neuroscience/biology/medicine here is that biology is somewhat separated
		from engineering at this point in time because life is not engineered, so the idea of neural engineering is the
		application of engineering to neuroscience, doesn't necessarily require an in-depth understanding of
		neuroscience itself. In a way, neuroscience is the problem to solve, but first we must learn the tools to solve
		it with.</p>
	<p>The most beautiful thing about being a human is that we have a natural desire to share what we know. This is why
		this website exists, and why there are so many teachers you can learn from for free. Knowledge naturally desires
		to be free. To keep something secret inside is the epitome of torture. So one of the basic elements of a good
		student is the instinctive desire to seek out good teachers. Then a good student should have the ability to tell
		which teachers are good, so he or she can make the choice to learn from them.</p>
	<p>My emphasis in teaching is not in memorization... that is a good way to kill your own fluid intelligence.
		Instead, it is to take advantage of your own cognitive strengths and building a skillset that will allow you to
		tackle the problems that you enjoy tackling. Sometimes you may feel like dealing with abstract concepts such as
		theoretical math or physics more, wheras at other times, you want to just get down and dirty and learn a
		surgical technique. Memory itself is only one cognitive skill that can be learned. But there are plenty of other
		skills that you will need to solve problems.</p>
	<p>Before you solve any problem, you have to understand that not every problem can be solved. But here in neural
		engineering our philosophy is that with enough hope or faith (not time, money, or hard work), every problem can
		be solved. But when dealing with difficult problems, it is usually not a direct path. You cannot simply sit down
		and solve most of these problems like you can with some problems from your coursework. So you do not need to
		ever go into a difficult problem with the expectation that you can solve it. Any researcher or doctor can tell
		you that there are problems that cannot be solved. We cannot, as of today, bring the dead back alive. But there
		are people who are trying. And it is that hope and endeavor that drive us. I will tell you that we WILL solve
		these problems. But it may not be in our lifetime. But as Confucius said, a student who has learned his fill in
		the morning is satisfied to die in the evening.</p>
	<p>You will see below that the pursuit of neural engineering involves a relatively massive stretch across many
		different fields of study. One person can spend their entire life learning a very specific subset of any of
		these below subjects. The amount of information is massive. Because neural engineering is such a fundamental
		field in that it is our mind questioning our own mind, everything technically falls under neural engineering. To
		be able to approach understanding such diverse subjects essentially makes one a classical "polymath", the great
		thinkers of the Renaissance, with the idea being embodied by Leon Battista Alberti in the statement that "a man
		can do all things if he will" (of course, extending to women as well). Benjamin Franklin, Leonardo da Vinci...
		gifted people that fundamentally changed society. It is a matter of "intellectual heroism"... in other words,
		doing the impossible using our minds. That is the essence of neural engineering. Our goal are to be heroes in
		order to solve problems of the brain and mind.</p>
	<p>The danger of being a polymath is that they generally can be described as having a psychiatric disorder. In a
		way, you can say that the birth of a polymath is the existence of an imaginary friend within someone, a source
		of endless creativity and wonder, whom if they neglect they will feel a bonechilling loneliness. The depth and
		quantity of cognitive processes coursing through the mind of a polymath can be akin to that of a manic episode.
		The natural consequence of mania is depression. So when we meet a problem we cannot solve, and it seems to
		destroy our mind, understand that it is natural, and a fundamental danger to our way of thinking. Buzz Aldrin,
		seen as a hero by many, fell into a deep spiral of depression and alcoholism after he returned to Earth.
		Lincoln, who abolished slavery, is well known to have suffered from depression. It is difficult to imagine a
		genius without noticing marks of turmoil throughout his or her life. In addition, many of the cognitive skills
		utilized by engineerings, mathematicians, etc. I believe come from what we know currently as the autism
		spectrum. And, of course, we know from the movie Beautiful Mind about John Nash, the fundamental thinker in
		differential geometry who developed schizophrenia, a crippling disease that breaks apart our internal logic. To
		think that a fundamental thinker of the logical study of mathematics can develop a disease defined by the
		illogicality of thoughts, is the paradox of the genius. But, as neural engineers, our job is to one day solve
		this paradox. This is akin to being artists, as many would say that it is suffering that gives drive to the most
		beautiful art. But anyone who has suffered knows that there is nothing beautiful to suffering itself.</p>
</div>


{% endblock %}